.category-header {
    display: flex;
    width: 100%;
    div {
        width: auto;
        height: 40px;
        background: #cce1ff;
        border-right: 1px solid white;
        text-align: center;
        color: #07c;
        font-weight: bold;
        padding-top: 8px;
        cursor: pointer;
        font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif !important;
    }
    margin-bottom: 10px;
    border: 1px solid #07c;
    border-radius: 4px;
}

.booking-form {
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif !important;
    font-size: 16px;
    color: black;
    .form-label {
        font-weight: 300 !important;
        color: black !important;
    }
}

.section {
    height: 500px;
}

.tour-du-lich {
    .wrap-box {
        border: 1px solid #c6c6c6;
        border-radius: 4px;
    }
    .box-img {
        display: inline-block;
        width: 100%;
        padding: 18px 5px;
        .img-right {
            float: left;
            width: 30%;
            img {
                height: 200px !important;
                width: 200px !important;
                border: 1px solid #c6c6c6;
                border-radius: 4px;
            }
        }
        .text-content {
            text-align: left;
            color: #07c;
            width: 50%;
            h2 {
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                }
            }
            .special {
                background: red;
                color: white
            }
            .sub-text {
                color: blue;
                &:hover {
                    text-decoration: underline;
                }
                font-family: BlinkMacSystemFont,
                -apple-system,
                Segoe UI,
                Roboto,
                Helvetica,
                Arial,
                sans-serif;
            }
            p {
                font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
                color: black !important;
            }
            .inner-description {
                p::after {
                    content: "...";
                    display: inline-block;
                    width: 3px;
                    height: 3px;
                }
                span {
                    display: none;
                }
            }
        }
        .danh-gia {
            width: 20%;
            text-align: left;
            h4 {
                color: blue;
            }
            p {
                font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif !important;
            }
            a {
                color: white;
                background: #07c;
                padding: 10px 15px;
                border-color: #c6c6c6;
                margin-top: 20px;
                display: block;
                text-align: center;
            }
        }
    }
}

.rooms .wrap-rooms .wrap-box .box-img {
    height: 240px;
}

.danh-gia {
    position: relative;
    .diem-danh-gia {
        font-size: 20px;
        background: #003580;
        color: white;
        padding: 6px;
        border-radius: 3px;
        position: absolute;
        top: 10px;
        left: 100px;
    }
}

.padding-top-0 {
    padding-top: 0;
}

.padding-bottom-0 {
    padding-bottom: 0;
}

.padding-left-0 {
    padding-left: 0;
}

.padding-right-0 {
    padding-right: 0;
}

.description {
    p {
        font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
        color: #003580;
        text-align: left;
        span {
            margin-right: 10px;
            font-size: 16px;
        }
    }
}

.search-result {
    background: #dff6e1 !important;
    padding: 2px 15px;
    h1,
    p {
        text-align: left;
        font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    }
    h1 {
        color: #003580;
        margin-top: 10px;
    }
}

.check-box-radio {
    border: 1px solid #c6c6c6;
    margin-top: 20px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    input {
        margin-right: 15px;
    }
    input,
    span {
        font-size: 17px;
    }
    h3 {
        border-bottom: 1px solid #dadada;
        padding-bottom: 12px;
    }
}

.google-map-tour {
    margin-top: 10px;
    border: 1px solid #c6c6c6;
    background-size: cover;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #07c;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}

#booking {
    background: #febb02;
    border: 1px solid #c6c6c6;
    border-radius: 3px;
    .booking-form {
        margin-top: 15px;
        margin-right: 8px;
        p {
            text-align: left;
            font-size: 15px;
            font-weight: 400 !important;
            font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif !important;
        }
        .form-btn {
            margin-top: 25px;
            button {
                background-color: #07c;
                color: white;
                height: 50px;
                padding: 8px 15px;
                line-height: 1;
                border: 2px solid white;
                border-radius: 6px;
                font-weight: 400 !important;
                font-size: 23px;
            }
        }
    }
}

.click-btn-tour {
    width: 25% !important;
}

.click-btn-tour-selected {
    background: #0ab21b !important;
    color: white !important;
}