.category-header {
    display: flex;
    width: 100%;
    div {
        width: auto;
        height: 40px;
        background: #cce1ff;
        border-right: 1px solid white;
        text-align: center;
        padding: 8px 20.6px;
        color: #07c;
        font-weight: bold;
        cursor: pointer;
        font-family: sans-serif !important;
    }
    margin-bottom: 10px;
    border: 1px solid #07c;
    border-radius: 4px;
}

.booking-form {
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif !important;
    font-size: 16px;
    color: black;
    .form-label {
        font-weight: 300 !important;
        color: black !important;
    }
}

.section {
    height: 500px;
}

.tour-du-lich {
    .wrap-box {
        border: 1px solid #c6c6c6;
        border-radius: 4px;
    }
    .box-img {
        display: inline-block;
        width: 100%;
        padding: 25px;
        .img-right {
            float: left;
            width: 30%;
            img {
                height: 200px !important;
                width: 200px !important;
                border: 1px solid #c6c6c6;
                border-radius: 4px;
            }
        }
        .text-content {
            text-align: left;
            color: #07c;
            margin-top: -20px;
            margin-left: 200px;
            width: 55%;
            h2 {
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                }
            }
            .special {
                background: red;
                color: white
            }
            .sub-text {
                color: blue;
                &:hover {
                    text-decoration: underline;
                }
            }
            p {
                font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
                color: black !important;
            }
        }
        .danh-gia {
            width: 16%;
            float: right;
            margin-top: -190px;
            text-align: left;
            h4 {
                color: blue;
            }
            p {
                font-family: inherit !important;
            }
            a {
                color: white;
                background: #07c;
                padding: 10px 15px;
                border-color: #c6c6c6;
                margin-top: 20px;
                display: block;
                text-align: center;
            }
        }
    }
}

.rooms .wrap-rooms .wrap-box .box-img {
    height: 255px;
}

.danh-gia {
    position: relative;
    .diem-danh-gia {
        font-size: 20px;
        background: #003580;
        color: white;
        padding: 6px;
        border-radius: 3px;
        position: absolute;
        top: 10px;
        left: 90px;
    }
}

.padding-top-0 {
    padding-top: 0;
}

.padding-bottom-0 {
    padding-bottom: 0;
}

.padding-left-0 {
    padding-left: 0;
}

.padding-right-0 {
    padding-right: 0;
}

.description {
    p {
        font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
        color: #003580;
        text-align: left;
        span {
            margin-right: 10px;
            font-size: 16px;
        }
    }
}

.search-result {
    background: #dff6e1 !important;
    padding: 2px 15px;
    h1,
    p {
        text-align: left;
        font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    }
    h1 {
        color: #003580;
        margin-top: 10px;
    }
}

.check-box-radio {
    border: 1px solid #c6c6c6;
    margin-top: 20px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    input {
        margin-right: 15px;
    }
    input,
    span {
        font-size: 17px;
    }
    h3 {
        border-bottom: 1px solid #dadada;
        padding-bottom: 12px;
    }
}

.google-map-tour {
    margin-top: 10px;
    border: 1px solid #c6c6c6;
    background: url(../../../assets/images/map-position.png) no-repeat center;
    background-size: cover;
    height: 300px;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #07c;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}