<div cz-shortcut-listen="true tour-du-thuyen">
    <!-- OUR-ROOMS-->
    <section class="rooms padding-top-0 padding-bottom-0">
        <div class="container">
            <div class="wrap-rooms">
                <div class="description">
                    <p>
                        <span>Trang chủ ></span>
                        <span>Du thuyền ></span>
                        <span>Tour ></span>
                        <span>Kết quả tìm kiếm</span>
                    </p>
                </div>
                <div class="row">
                    <div id="rooms" class="owl-carousel owl-theme owl-loaded owl-drag">
                        <div class="owl-stage-outer">
                            <div class="owl-stage" style="transition: all 0s ease 0s; width: 1110px;">
                                <div class="owl-item" style="width: 1110px;">
                                    <div class="item ">
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 padding-left-0" style="width: 32.5%">
                                            <div class="wrap-box">
                                                <div id="booking" class="section">
                                                    <div class="section-center">
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col-md-4" style="width: 30%">
                                                                    <div class="booking-form">
                                                                        <form>
                                                                            <div class="form-group">
                                                                                <span class="form-label">Địa điểm</span>
                                                                                <select class="form-control">
                                                                                <option>Hà Nội</option>
                                                                                <option>Đà Nẵng</option>
                                                                                <option>TP.Hồ Chí Minh</option>
                                                                              </select>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-sm-6">
                                                                                    <div class="form-group">
                                                                                        <span class="form-label">Ngày thuê</span>
                                                                                        <input class="form-control" type="date" required>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-sm-6">
                                                                                    <div class="form-group">
                                                                                        <span class="form-label">Thời gian thuê</span>
                                                                                        <select class="form-control">
                                                                                        <option>1h</option>
                                                                                        <option>2h</option>
                                                                                        <option>4h</option>
                                                                                      </select>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-sm-4">
                                                                                    <div class="form-group">
                                                                                        <span class="form-label">Mức giá</span>
                                                                                        <select class="form-control">
                                                                                        <option>< 5tr</option>
                                                                                        <option>5tr-10tr</option>
                                                                                        <option>10tr-20tr</option>
                                                                                      </select>
                                                                                        <span class="select-arrow"></span>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-sm-4">
                                                                                    <div class="form-group">
                                                                                        <span class="form-label">Người lớn</span>
                                                                                        <select class="form-control">
                                                                                      <option>1</option>
                                                                                      <option>2</option>
                                                                                      <option>3</option>
                                                                                    </select>
                                                                                        <span class="select-arrow"></span>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-sm-4">
                                                                                    <div class="form-group">
                                                                                        <span class="form-label">Trẻ con</span>
                                                                                        <select class="form-control">
                                                                                      <option>0</option>
                                                                                      <option>1</option>
                                                                                      <option>2</option>
                                                                                    </select>
                                                                                        <span class="select-arrow"></span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-btn">
                                                                                <button class="submit-btn">Tìm kiếm</button>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="check-box-radio">
                                                    <h3>Chọn lọc theo:</h3>
                                                    <div class="category">
                                                        <h4>Xếp hạng sao</h4>
                                                        <div><input type="checkbox" value="1 sao"><span>1 sao</span></div>
                                                        <div><input type="checkbox" name="2 sao"><span>2 sao</span></div>
                                                        <div><input type="checkbox" name="3 sao"><span>3 sao</span></div>
                                                        <div><input type="checkbox" name="4 sao"><span>4 sao</span></div>
                                                        <div><input type="checkbox" name="5 sao"><span>5 sao</span></div>
                                                    </div>
                                                    <div class="category">
                                                        <h4>Các bộ lọc phổ biến</h4>
                                                        <div><input type="checkbox" value="1 sao"><span>Du thuyền</span></div>
                                                        <div><input type="checkbox" name="2 sao"><span>Rất tốt: 8 điểm trở lên</span></div>
                                                        <div><input type="checkbox" name="3 sao"><span>Căn hộ</span></div>
                                                        <div><input type="checkbox" name="4 sao"><span>Khu vực khách thích</span></div>
                                                        <div><input type="checkbox" name="5 sao"><span>Tuyệt hảo: 9 điểm trở lên</span></div>
                                                    </div>
                                                    <div class="category">
                                                        <h4>Đón khách 24h</h4>
                                                        <div><input type="checkbox" value="1 sao"><span>Lễ tân phục vụ 24/24</span></div>
                                                    </div>
                                                    <div class="category">
                                                        <h4>Tiện nghi</h4>
                                                        <div><input type="checkbox" value="1 sao"><span>Wifi miễn phí</span></div>
                                                        <div><input type="checkbox" name="2 sao"><span>Chỗ đỗ xe</span></div>
                                                        <div><input type="checkbox" name="3 sao"><span>Xe đưa đón sân bay</span></div>
                                                        <div><input type="checkbox" name="4 sao"><span>Trung tâm thể dục</span></div>
                                                        <div><input type="checkbox" name="5 sao"><span>Phòng không hút thuốc</span></div>
                                                    </div>
                                                    <div class="category">
                                                        <h4>Tiện nghi phòng</h4>
                                                        <div><input type="checkbox" value="1 sao"><span>Phòng tắm riêng</span></div>
                                                        <div><input type="checkbox" name="2 sao"><span>Ban công</span></div>
                                                        <div><input type="checkbox" name="3 sao"><span>Bồn tắm</span></div>
                                                        <div><input type="checkbox" name="4 sao"><span>Hệ thống cách âm</span></div>
                                                        <div><input type="checkbox" name="5 sao"><span>Khu vực bếp</span></div>
                                                        <div><input type="checkbox" value="1 sao"><span>Máy giặt</span></div>
                                                        <div><input type="checkbox" name="2 sao"><span>Sân hiên</span></div>
                                                        <div><input type="checkbox" name="3 sao"><span>Tivi màn hình phẳng</span></div>
                                                        <div><input type="checkbox" name="4 sao"><span>Điều hòa không khí</span></div>
                                                        <div><input type="checkbox" name="5 sao"><span>Ấm đun nước điện</span></div>
                                                    </div>
                                                    <div class="category">
                                                        <h4>Xếp hạng sao</h4>
                                                        <div><input type="checkbox" value="1 sao"><span>1 sao</span></div>
                                                        <div><input type="checkbox" name="2 sao"><span>2 sao</span></div>
                                                        <div><input type="checkbox" name="3 sao"><span>3 sao</span></div>
                                                        <div><input type="checkbox" name="4 sao"><span>4 sao</span></div>
                                                        <div><input type="checkbox" name="5 sao"><span>5 sao</span></div>
                                                    </div>
                                                </div>
                                                <div class="google-map-tour">
                                                    img
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 padding-right-0" style="width: 67.5%">
                                            <div class="wrap-box search-result">
                                                <h1 style="font-size: 24px;font-weight: bold">Đã tìm thấy 200 du thuyền</h1>
                                                <p>3 lý do để du lịch: biển, bãi biển cát và hải sản</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 tour-du-lich padding-right-0" style="width: 67.5%">
                                            <div class="category-header">
                                                <div style="background: #0ab21b; color: white;">Đề xuất của chúng tôi</div>
                                                <div>Giá (ưu tiên thấp nhất)</div>
                                                <div>Sao</div>
                                                <div>Xếp hạng sao và giá</div>
                                                <div>Đánh giá hàng đầu</div>
                                            </div>
                                            <div class="wrap-box">
                                                <div class="box-img">
                                                    <div class="img-right"><img src="./assets/images/du-thuyen-1.jpg" class="img-responsive" alt="Double Room" title="Double Room"></div>
                                                    <div class="text-content">
                                                        <h2 [routerLink]="'/wb/details'">Leader 36</h2>
                                                        <p> <span class="sub-text">Nha Trang – Xem trên bản đồ</span> (Cách trung tâm 350 m )</p>
                                                        <p>Nằm ở thành phố Nha Trang, Legend Sea Hotel cung cấp các phòng nghỉ hiện đại và trang nhã với truy cập Wi-Fi miễn phí trong toàn bộ khuôn viên.</p>
                                                        <p><span class="special">Đang khuyến mãi!</span> <span style="color:red"> Được đặt nhiều nhất trong 24h qua</span></p>
                                                    </div>
                                                    <div class="danh-gia">
                                                        <h4>Tuyệt vời</h4>
                                                        <p style="margin-top: -6px">600 đánh giá</p>
                                                        <span class="diem-danh-gia">9.2</span>
                                                        <p style="color: #07c;font-weight:bold">Được ưa chuộng</p>
                                                        <a>Hiển thị giá</a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 tour-du-lich padding-right-0" style="width: 67.5%">
                                            <div class="wrap-box">
                                                <div class="box-img">
                                                    <div class="img-right"><img src="./assets/images/du-thuyen-2.jpg" class="img-responsive" alt="Double Room" title="Double Room"></div>
                                                    <div class="text-content">
                                                        <h2 [routerLink]="'/wb/details'">NC 14</h2>
                                                        <p> <span class="sub-text">Nha Trang – Xem trên bản đồ</span> (Cách trung tâm 350 m )</p>
                                                        <p>Nằm ở thành phố Nha Trang, Legend Sea Hotel cung cấp các phòng nghỉ hiện đại và trang nhã với truy cập Wi-Fi miễn phí trong toàn bộ khuôn viên.</p>
                                                        <p><span class="special">Đang khuyến mãi!</span> <span style="color:red"> Được đặt nhiều nhất trong 24h qua</span></p>
                                                    </div>
                                                    <div class="danh-gia">
                                                        <h4>Tốt</h4>
                                                        <p style="margin-top: -6px">100 đánh giá</p>
                                                        <span class="diem-danh-gia">8.9</span>
                                                        <p style="color: #07c;font-weight:bold">Yêu thích</p>
                                                        <a>Hiển thị giá</a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 tour-du-lich padding-right-0" style="width: 67.5%">
                                            <div class="wrap-box">
                                                <div class="box-img">
                                                    <div class="img-right"><img src="./assets/images/du-thuyen-3.jpg" class="img-responsive" alt="Double Room" title="Double Room"></div>
                                                    <div class="text-content">
                                                        <h2 [routerLink]="'/wb/details'">Cap Camarat 7.5 DC</h2>
                                                        <p> <span class="sub-text">Nha Trang – Xem trên bản đồ</span> (Cách trung tâm 350 m )</p>
                                                        <p>Nằm ở thành phố Nha Trang, Legend Sea Hotel cung cấp các phòng nghỉ hiện đại và trang nhã với truy cập Wi-Fi miễn phí trong toàn bộ khuôn viên.</p>
                                                        <p><span class="special">Đang khuyến mãi!</span> <span style="color:red"> Được đặt nhiều nhất trong 24h qua</span></p>
                                                    </div>
                                                    <div class="danh-gia">
                                                        <h4>Tuyệt hảo</h4>
                                                        <p style="margin-top: -6px">400 đánh giá</p>
                                                        <span class="diem-danh-gia">9.4</span>
                                                        <p style="color: #07c;font-weight:bold">Được ưa chuộng</p>
                                                        <a>Hiển thị giá</a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 tour-du-lich padding-right-0" style="width: 67.5%">
                                            <div class="wrap-box">
                                                <div class="box-img">
                                                    <div class="img-right"><img src="./assets/images/du-thuyen-4.jpg" class="img-responsive" alt="Double Room" title="Double Room"></div>
                                                    <div class="text-content">
                                                        <h2 [routerLink]="'/wb/details'">Cap Camarat 6.5 WA</h2>
                                                        <p> <span class="sub-text">Nha Trang – Xem trên bản đồ</span> (Cách trung tâm 350 m )</p>
                                                        <p>Nằm ở thành phố Nha Trang, Legend Sea Hotel cung cấp các phòng nghỉ hiện đại và trang nhã với truy cập Wi-Fi miễn phí trong toàn bộ khuôn viên.</p>
                                                        <p><span class="special">Đang khuyến mãi!</span> <span style="color:red"> Được đặt nhiều nhất trong 24h qua</span></p>
                                                    </div>
                                                    <div class="danh-gia">
                                                        <h4>Rất tốt</h4>
                                                        <p style="margin-top: -6px">600 đánh giá</p>
                                                        <span class="diem-danh-gia">8.5</span>
                                                        <p style="color: #07c;font-weight:bold">Yêu thích</p>
                                                        <a>Hiển thị giá</a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 tour-du-lich padding-right-0" style="width: 67.5%">
                                            <div class="wrap-box">
                                                <div class="box-img">
                                                    <div class="img-right"><img src="./assets/images/du-thuyen-1.jpg" class="img-responsive" alt="Double Room" title="Double Room"></div>
                                                    <div class="text-content">
                                                        <h2 [routerLink]="'/wb/details'">Leader 36</h2>
                                                        <p> <span class="sub-text">Nha Trang – Xem trên bản đồ</span> (Cách trung tâm 350 m )</p>
                                                        <p>Nằm ở thành phố Nha Trang, Legend Sea Hotel cung cấp các phòng nghỉ hiện đại và trang nhã với truy cập Wi-Fi miễn phí trong toàn bộ khuôn viên.</p>
                                                        <p><span class="special">Đang khuyến mãi!</span> <span style="color:red"> Được đặt nhiều nhất trong 24h qua</span></p>
                                                    </div>
                                                    <div class="danh-gia">
                                                        <h4>Tuyệt vời</h4>
                                                        <p style="margin-top: -6px">600 đánh giá</p>
                                                        <span class="diem-danh-gia">9.7</span>
                                                        <p style="color: #07c;font-weight:bold">Được ưa chuộng</p>
                                                        <a>Hiển thị giá</a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 tour-du-lich padding-right-0" style="width: 67.5%">
                                            <div class="wrap-box">
                                                <div class="box-img">
                                                    <div class="img-right"><img src="./assets/images/du-thuyen-2.jpg" class="img-responsive" alt="Double Room" title="Double Room"></div>
                                                    <div class="text-content">
                                                        <h2 [routerLink]="'/wb/details'">Cap Camarat 7.5 DC</h2>
                                                        <p> <span class="sub-text">Nha Trang – Xem trên bản đồ</span> (Cách trung tâm 350 m )</p>
                                                        <p>Nằm ở thành phố Nha Trang, Legend Sea Hotel cung cấp các phòng nghỉ hiện đại và trang nhã với truy cập Wi-Fi miễn phí trong toàn bộ khuôn viên.</p>
                                                        <p><span class="special">Đang khuyến mãi!</span> <span style="color:red"> Được đặt nhiều nhất trong 24h qua</span></p>
                                                    </div>
                                                    <div class="danh-gia">
                                                        <h4>Xuất Sắc</h4>
                                                        <p style="margin-top: -6px">500 đánh giá</p>
                                                        <span class="diem-danh-gia">9.8</span>
                                                        <p style="color: #07c;font-weight:bold">Rất yêu thích</p>
                                                        <a>Hiển thị giá</a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 tour-du-lich padding-right-0 pagination" style="width: 67.5%; left: 21%">
                                            <a href="#">&laquo;</a>
                                            <a href="#" class="active">1</a>
                                            <a href="#">2</a>
                                            <a href="#">3</a>
                                            <a href="#">4</a>
                                            <a href="#">5</a>
                                            <a href="#">6</a>
                                            <a href="#">&raquo;</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-nav">
                            <div class="owl-prev">prev</div>
                            <div class="owl-next">next</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /container -->
    </section>
    <!-- END / ROOMS -->

    <!--END / SROLL TOP-->
    <!-- LOAD JQUERY -->

    <div class="awe-popup-overlay" id="awe-popup-overlay"></div>
    <div class="awe-popup-wrap" id="awe-popup-wrap">
        <div class="awe-popup-content"></div>
        <span class="awe-popup-close" id="awe-popup-close"></span>
    </div>
</div>