<div cz-shortcut-listen="true tour-du-thuyen">
    <!-- OUR-ROOMS-->
    <section class="rooms padding-top-0 padding-bottom-0">
        <div class="container">
            <div class="wrap-rooms">
                <div class="description">
                    <p>
                        <span>Trang chủ ></span>
                        <span>Du thuyền ></span>
                        <span>Kết quả tìm kiếm</span>
                    </p>
                </div>
                <div class="row">
                    <div id="rooms" class="owl-carousel owl-theme owl-loaded owl-drag">
                        <div class="owl-stage-outer">
                            <div class="owl-stage">
                                <div class="owl-item">
                                    <div class="item ">
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 padding-left-0" style="width: 30%">
                                            <div class="wrap-box">
                                                <div id="booking" class="section">
                                                    <div class="section-center">
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col-md-4" style="width: 30%; padding-left: 8px !important">
                                                                    <div class="booking-form">
                                                                        <form>
                                                                            <h2 style="text-align: left">Tìm</h2>
                                                                            <div class="form-group">
                                                                                <p class="form-label">Địa điểm</p>
                                                                                <dx-select-box placeholder="Chọn địa điểm" [dataSource]="listLocation" [searchEnabled]="true" [value]="location" (onSelectionChanged)="selectLocation($event)">
                                                                                </dx-select-box>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <p class="form-label">Loại du thuyền</p>
                                                                                <dx-select-box placeholder="Chọn loại du thuyền" [dataSource]="listTypeBoat" [searchEnabled]="true" [value]="typeBoat" (onSelectionChanged)="selectTypeBoat($event)">
                                                                                </dx-select-box>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-sm-6" style="padding-right: 5px">
                                                                                    <div class="form-group">
                                                                                        <p class="form-label">Từ ngày</p>
                                                                                        <dx-date-box class="from-date-box" [(value)]="fromDate" [(max)]="toDate" type="date" displayFormat="yyyy-MM-dd" valueChangeEvent="keyup">
                                                                                        </dx-date-box>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-sm-6" style="padding-left: 0">
                                                                                    <div class="form-group">
                                                                                        <p class="form-label">Đến ngày</p>
                                                                                        <dx-date-box class="from-date-box" [(value)]="toDate" type="date" displayFormat="yyyy-MM-dd" valueChangeEvent="keyup">
                                                                                        </dx-date-box>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <p class="form-label">Mức giá</p>
                                                                                <dx-select-box placeholder="Chọn mức giá" [dataSource]="commonService.listPrice" [searchEnabled]="true" (onSelectionChanged)="selectPrice($event)">
                                                                                </dx-select-box>
                                                                            </div>
                                                                            <div class="form-btn">
                                                                                <button class="submit-btn" (click)="search()">Tìm</button>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="check-box-radio">
                                                    <h3>Chọn lọc theo:</h3>
                                                    <div class="category">
                                                        <h4>Xếp hạng sao</h4>
                                                        <div><input type="checkbox" value="1 sao"><span>1 sao</span></div>
                                                        <div><input type="checkbox" name="2 sao"><span>2 sao</span></div>
                                                        <div><input type="checkbox" name="3 sao"><span>3 sao</span></div>
                                                        <div><input type="checkbox" name="4 sao"><span>4 sao</span></div>
                                                        <div><input type="checkbox" name="5 sao"><span>5 sao</span></div>
                                                    </div>
                                                    <div class="category">
                                                        <h4>Các bộ lọc phổ biến</h4>
                                                        <div><input type="checkbox" value="1 sao"><span>Du thuyền</span></div>
                                                        <div><input type="checkbox" name="2 sao"><span>Rất tốt: 8 điểm trở lên</span></div>
                                                        <div><input type="checkbox" name="3 sao"><span>Căn hộ</span></div>
                                                        <div><input type="checkbox" name="4 sao"><span>Khu vực khách thích</span></div>
                                                        <div><input type="checkbox" name="5 sao"><span>Tuyệt hảo: 9 điểm trở lên</span></div>
                                                    </div>
                                                    <div class="category">
                                                        <h4>Đón khách 24h</h4>
                                                        <div><input type="checkbox" value="1 sao"><span>Lễ tân phục vụ 24/24</span></div>
                                                    </div>
                                                    <div class="category">
                                                        <h4>Tiện nghi phòng</h4>
                                                        <div><input type="checkbox" value="1 sao"><span>Phòng tắm riêng</span></div>
                                                        <div><input type="checkbox" name="2 sao"><span>Ban công</span></div>
                                                        <div><input type="checkbox" name="3 sao"><span>Bồn tắm</span></div>
                                                        <div><input type="checkbox" name="4 sao"><span>Hệ thống cách âm</span></div>
                                                        <div><input type="checkbox" name="5 sao"><span>Khu vực bếp</span></div>
                                                        <div><input type="checkbox" value="1 sao"><span>Máy giặt</span></div>
                                                        <div><input type="checkbox" name="2 sao"><span>Sân hiên</span></div>
                                                        <div><input type="checkbox" name="3 sao"><span>Tivi màn hình phẳng</span></div>
                                                        <div><input type="checkbox" name="4 sao"><span>Điều hòa không khí</span></div>
                                                        <div><input type="checkbox" name="5 sao"><span>Ấm đun nước điện</span></div>
                                                    </div>
                                                    <div class="category">
                                                        <h4>Tiện nghi phòng</h4>
                                                        <div><input type="checkbox" value="1 sao"><span>Phòng tắm riêng</span></div>
                                                        <div><input type="checkbox" name="2 sao"><span>Ban công</span></div>
                                                        <div><input type="checkbox" name="3 sao"><span>Bồn tắm</span></div>
                                                        <div><input type="checkbox" name="4 sao"><span>Hệ thống cách âm</span></div>
                                                        <div><input type="checkbox" name="5 sao"><span>Khu vực bếp</span></div>
                                                        <div><input type="checkbox" value="1 sao"><span>Máy giặt</span></div>
                                                        <div><input type="checkbox" name="2 sao"><span>Sân hiên</span></div>
                                                        <div><input type="checkbox" name="3 sao"><span>Tivi màn hình phẳng</span></div>
                                                        <div><input type="checkbox" name="4 sao"><span>Điều hòa không khí</span></div>
                                                        <div><input type="checkbox" name="5 sao"><span>Ấm đun nước điện</span></div>
                                                    </div>

                                                </div>
                                                <div class="google-map-tour">
                                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.294062377245!2d105.90918911540227!3d21.020916693420876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135a9233368050d%3A0xd61957efdf4c02a8!2zMzggUGjhu5EgTmfhu41jIFRyw6wsIFRo4bqhY2ggQsOgbiwgTG9uZyBCacOqbiwgSMOgIE7hu5lpLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1547022043641"
                                                        width="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 padding-right-0 padding-left-0" style="width: 68%">
                                            <div class="wrap-box search-result">
                                                <h1 style="font-size: 24px;font-weight: bold">Đã tìm thấy {{ totalCount || 0 }} du thuyền</h1>
                                                <p>3 lý do để du lịch: biển, bãi biển cát và hải sản</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 tour-du-lich padding-right-0 padding-left-0" style="width: 68%">
                                            <div class="category-header">
                                                <div style="background: #0ab21b; color: white; width: 22.5%">Đề xuất của chúng tôi</div>
                                                <div style="width: 22.5%">Giá (ưu tiên thấp nhất)</div>
                                                <div style="width: 10%">Sao</div>
                                                <div style="width: 22.5%">Xếp hạng sao và giá</div>
                                                <div style="width: 22.5%">Đánh giá hàng đầu</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 tour-du-lich padding-right-0 padding-left-0" style="width: 68%" *ngFor="let item of listBoat?.list">
                                            <div class="wrap-box">
                                                <div class="box-img row">
                                                    <div class="img-right col-sm-3" style="padding-left: 8px"><img src="{{ item?.linkImage }}" class="img-responsive" alt="Double Room" title="Double Room"></div>
                                                    <div class="text-content col-sm-6" style="padding-left: 0; padding-right: 8px">
                                                        <h2 (click)="routerLinkDetail(item, item?.id)">{{ item?.name }}</h2>
                                                        <p> <span class="sub-text">{{ item?.province?.name }}– Xem trên bản đồ</span> (Cách trung tâm 350 m)</p>
                                                        <p>{{ item?.description }}</p>
                                                        <p><span class="special">Đang khuyến mãi!</span> <span style="color:red"> Được đặt nhiều nhất trong 24h qua</span></p>
                                                    </div>
                                                    <div class="danh-gia col-sm-3" style="padding-left: 8px; padding-right: 0">
                                                        <h4>Tuyệt vời</h4>
                                                        <p style="margin-top: -6px">600 đánh giá</p>
                                                        <span class="diem-danh-gia">9.2</span>
                                                        <p style="color: #07c;font-weight:bold">Được ưa chuộng</p>
                                                        <p style="color: green; font-size: 20px; font-weight: bold">VND {{ item?.price | thousandNumberFormatter }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 tour-du-lich padding-right-0 padding-left-0 pagination" style="width: 68%">
                                            <app-pagination [totalPages]="totalPages" (goPage)="goToPage($event)" [pagesToShow]="5" [currentPage]="currentPage"></app-pagination>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /container -->
    </section>
    <!-- END / ROOMS -->

    <!--END / SROLL TOP-->
    <!-- LOAD JQUERY -->

    <div class="awe-popup-overlay" id="awe-popup-overlay"></div>
    <div class="awe-popup-wrap" id="awe-popup-wrap">
        <div class="awe-popup-content"></div>
        <span class="awe-popup-close" id="awe-popup-close"></span>
    </div>
</div>