<div cz-shortcut-listen="true">
    <section class="section-slider height-v" id="top">
        <div class="title">
            <div class="container">
                <h2>Tìm kiếm ưu đãi và khám phá nhiều trải nghiệm trên khắp thế giới</h2>
                <p>Từ những khu nghỉ dưỡng thanh bình đến những căn hộ hạng sang hiện đại</p>
            </div>
        </div>
        <div class="check-avail">
            <div class="container">
                <div class="arrival date-title ">
                    <label>Địa điểm </label>
                    <div>
                        <select class="form-control">
                  <option>Hà Nội</option>
                  <option>Đà Nẵng</option>
                  <option>TP.Hồ Chí Minh</option>
                </select>
                    </div>
                </div>
                <div class="departure date-title ">
                    <label>Thời gian</label>
                    <div>
                        <!-- <input class="form-control" type="text">
                <span class="input-group-addon"><img src="./assets/icon/date-icon.png" alt="#"></span> -->
                        <dx-date-box class="from-date-box" [(value)]="fromDate" [(max)]="toDate" type="date" displayFormat="dd/MM/yyyy" valueChangeEvent="keyup">
                        </dx-date-box>
                    </div>
                </div>
                <div class="arrival width-25-percent date-title ">
                    <label>Thuê trong</label>
                    <div>
                        <select class="form-control">
                  <option>2h</option>
                  <option>4h</option>
                  <option>1 ngày 2 đêm</option>
                </select>
                    </div>
                </div>
                <div class="arrival width-25-percent date-title ">
                    <label>Mức giá </label>
                    <div>
                        <select class="form-control">
                  <option>< 5 triệu</option>
                  <option>5 triệu - 10 triệu</option>
                  <option>10 triệu - 20 triệu</option>
                  <option>20 triệu - 30 triệu</option>
                  <option>> 50 triệu</option>
                </select>
                    </div>
                </div>
                <div class="arrival width-20-percent date-title ">
                    <label>Người lớn</label>
                    <div>
                        <select class="form-control">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                </select>
                    </div>
                </div>
                <div class="arrival width-20-percent date-title ">
                    <label>Trẻ em</label>
                    <div>
                        <select class="form-control">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                </select>
                    </div>
                </div>
                <div class="find_btn date-title">
                    <div class="text-find">
                        Tìm
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- OUR-ROOMS-->
    <section class="rooms">
        <div class="container">
            <div class="wrap-rooms">
                <div class="row">
                    <div id="rooms" class="owl-carousel owl-theme owl-loaded owl-drag">
                        <div class="owl-item" style="width: 1200px;">
                            <div class="item four-boat">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 padding-right-8 uu-dai-1">
                                    <div class="wrap-box">
                                        <div class="box-img">
                                            <img src="./assets/images/tet-nguyen-dan.jpg" class="img-responsive" alt="PLuxury Room" title="Luxury Room">
                                            <div class="text">
                                                <h4>Tết Nguyên Đán</h4>
                                                <p>Tiết kiệm từ 20% trở lên ở một số nơi từ 25/1 đến 18/2</p>
                                                <a>Xem ưu đãi</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 padding-left-8 uu-dai-2">
                                    <div class="wrap-box">
                                        <div class="box-img">
                                            <img src="./assets/images/banh-chung.jpg" class="img-responsive" alt="Double Room" title="Double Room">
                                            <div class="text">
                                                <h4>Ưu đãi dịp lễ tết</h4>
                                                <p>Tiết kiệm từ 15% trở lên cho các kỳ lưu trú trên khắp thế giới đến hết 31/3</p>
                                                <a>Xem ưu đãi</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 padding-right-8">
                                    <div class="wrap-box pointer" [routerLink]="'/wb/tour'">
                                        <div class="box-img">
                                            <img src="./assets/images/du-thuyen-1.jpg" class="img-responsive" alt="PLuxury Room" title="Luxury Room">
                                        </div>
                                        <div class="rooms-content">
                                            <h4 class="sky-h4">NC 14</h4>
                                        </div>
                                        <div class="price">
                                            <p>Giá trung bình:</p>
                                            <p>VND 1.000.000/2h</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 padding-left-8">
                                    <div class="wrap-box pointer" [routerLink]="'/wb/tour'">
                                        <div class="box-img">
                                            <img src="./assets/images/du-thuyen-2.jpg" class="img-responsive" alt="Double Room" title="Double Room">
                                        </div>
                                        <div class="rooms-content" [routerLink]="'/wb/tour'">
                                            <h4 class="sky-h4">Leader 36</h4>
                                        </div>
                                        <div class="price">
                                            <p>Giá trung bình:</p>
                                            <p>VND 4.000.000/2h</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 padding-right-8">
                                    <div class="wrap-box pointer" [routerLink]="'/wb/tour'">
                                        <div class="box-img">
                                            <img src="./assets/images/du-thuyen-3.jpg" class="img-responsive" alt="Family Room" title="Family Room">
                                        </div>
                                        <div class="rooms-content" [routerLink]="'/wb/tour'">
                                            <h4 class="sky-h4">Cap Camarat 6.5 WA</h4>
                                        </div>
                                        <div class="price">
                                            <p>Giá trung bình:</p>
                                            <p>VND 2.000.000/2h</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 padding-left-8">
                                    <div class="wrap-box pointer" [routerLink]="'/wb/tour'">
                                        <div class="box-img">
                                            <img src="./assets/images/du-thuyen-4.jpg" class="img-responsive" alt="Deluxe Room" title="Deluxe Room">
                                        </div>
                                        <div class="rooms-content" [routerLink]="'/wb/tour'">
                                            <h4 class="sky-h4">Cap Camarat 7.5 DC</h4>
                                        </div>
                                        <div class="price">
                                            <p>Giá trung bình:</p>
                                            <p>VND 3.000.000/2h</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /container -->
    </section>
    <!-- END / ROOMS -->

    <!--OUR-NEWS-->
    <section class="events">
        <div class="container">
            <h2 class="events-title">Tin Tức</h2>
            <div class="line"></div>
            <div id="events-v2" class="owl-carousel owl-theme owl-loaded owl-drag">

                <div class="owl-stage-outer">
                    <div class="owl-stage" style="transform: translate3d(-1200px, 0px, 0px); transition: all 0.25s ease 0s; width: 3600px;">
                        <div class="owl-item cloned" style="width: 390px; margin-right: 10px;">
                            <!-- CLONED -->
                        </div>
                        <div class="owl-item active" style="width: 390px; margin-right: 10px;">
                            <!-- CLONED -->
                        </div>
                        <div class="owl-item active" style="width: 390px; margin-right: 10px;">
                            <!-- CLONED -->
                        </div>
                        <div class="owl-item active" style="width: 225px; margin-right: 10px;">
                            <div class="item">
                                <div class="events-item">
                                    <div class="events-img"><img src="./assets/images/Our-Events-3.jpg" class="img-responsive" alt="Image"></div>
                                    <div class="events-content">
                                        <a href="" title="">
                                            <p class="sky-p">Tin Tức 1</p>
                                            <h3 class="sky-h3"> Beach Sports</h3>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 225px; margin-right: 10px;">
                            <div class="item ">
                                <div class="events-item">
                                    <div class="events-img"><img src="./assets/images/Our-Events-1.jpg" class="img-responsive" alt="Image"></div>
                                    <div class="events-content">
                                        <a href="" title="">
                                            <p class="sky-p">Tin Tức 2</p>
                                            <h3 class="sky-h3">Wedding Day</h3>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 225px; margin-right: 10px;">
                            <div class="item">
                                <div class="events-item">
                                    <div class="events-img"><img src="./assets/images/Our-Events-2.jpg" class="img-responsive" alt="Image"></div>
                                    <div class="events-content">
                                        <a href="" title="">
                                            <p class="sky-p">Tin Tức 3</p>
                                            <h3 class="sky-h3">Golf Cup 2017</h3>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item active" style="width: 225px; margin-right: 10px;">
                            <div class="item">
                                <div class="events-item">
                                    <div class="events-img"><img src="./assets/images/Our-Events-3.jpg" class="img-responsive" alt="Image"></div>
                                    <div class="events-content">
                                        <a href="" title="">
                                            <p class="sky-p">Tin Tức 4</p>
                                            <h3 class="sky-h3"> Beach Sports</h3>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item active" style="width: 225px; margin-right: 10px;">
                            <div class="item">
                                <div class="events-item">
                                    <div class="events-img"><img src="./assets/images/Our-Events-3.jpg" class="img-responsive" alt="Image"></div>
                                    <div class="events-content">
                                        <a href="" title="">
                                            <p class="sky-p">Tin Tức 5</p>
                                            <h3 class="sky-h3"> Beach Sports</h3>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="view-more-news">
                    <span>Xem thêm</span>
                </div>
            </div>
        </div>
    </section>
    <!-- END / OUR EVENTS -->

    <!-- ABOUT-US-->
    <section class="about">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
                    <div class="about-centent">
                        <h2 class="about-title">Giới Thiệu</h2>
                        <div class="line"></div>
                        <p class="about-p">Contrary to popular belief, Lorem isn’t simply random text. It has roots in a of classical Latin literature from 45 BC, making it over 2000 years old. Avalon’s leading hotels with gracious island hospitality, thoughtful amenities
                            and distinctive</p>
                        <p class="about-p1">Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage ...</p>
                        <a href="" class="read-more">Xem thêm </a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7 ">
                    <div class="about-img">
                        <div class="img-1">
                            <img src="./assets/images/about-3.jpg" class="img-responsive" alt="Image">
                            <div class="img-2">
                                <img src="./assets/images/about-1.jpg" class="img-responsive" alt="Image">
                            </div>
                            <div class="img-3">
                                <img src="./assets/images/about-2.jpg" class="img-responsive" alt="Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END/ ABOUT-US-->
</div>