<div cz-shortcut-listen="true">
    <section class="section-slider height-v" id="top">
        <div class="title">
            <div class="container">
                <h2>Tìm kiếm ưu đãi và khám phá nhiều trải nghiệm trên khắp thế giới</h2>
                <p>Từ những khu nghỉ dưỡng thanh bình đến những căn hộ hạng sang hiện đại</p>
            </div>
        </div>
        <div class="check-avail">
            <div class="container">
                <div class="arrival date-title ">
                    <label>Địa điểm </label>
                    <div>
                        <dx-select-box placeholder="Chọn địa điểm" [dataSource]="commonService?.listLocation" [searchEnabled]="true">
                        </dx-select-box>
                    </div>
                </div>
                <div class="arrival date-title ">
                    <label>Loại du thuyền </label>
                    <div>
                        <dx-select-box placeholder="Chọn loại du thuyền" [dataSource]="listTypeBoat" [searchEnabled]="true">
                        </dx-select-box>
                    </div>
                </div>
                <div class="departure date-title ">
                    <label>Từ ngày</label>
                    <div>
                        <dx-date-box class="from-date-box" [(value)]="fromDate" [(max)]="toDate" type="date" displayFormat="dd/MM/yyyy" valueChangeEvent="keyup">
                        </dx-date-box>
                    </div>
                </div>
                <div class="departure date-title ">
                    <label>Đến ngày</label>
                    <div>
                        <dx-date-box class="from-date-box" [(value)]="toDate" type="date" displayFormat="dd/MM/yyyy" valueChangeEvent="keyup">
                        </dx-date-box>
                    </div>
                </div>
                <div class="arrival width-25-percent date-title ">
                    <label>Mức giá </label>
                    <div>
                        <dx-select-box placeholder="Chọn mức giá" [dataSource]="listPrice" [searchEnabled]="true">
                        </dx-select-box>
                    </div>
                </div>
                <div class="find_btn date-title" [routerLink]="'/wb/tour'">
                    <div class="text-find">
                        Tìm
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- OUR-ROOMS-->
    <section class="rooms padding-top-0 padding-bottom-0">
        <div class="container">
            <div class="wrap-rooms">
                <div class="row">
                    <div id="rooms" class="owl-carousel owl-theme owl-loaded owl-drag">
                        <div class="owl-item">
                            <div class="item four-boat">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 padding-right-8 uu-dai-1">
                                    <div class="wrap-box">
                                        <div class="box-img">
                                            <img src="./assets/images/tet-nguyen-dan.jpg" class="img-responsive" alt="PLuxury Room" title="Luxury Room">
                                            <div class="text">
                                                <h4>Tết Nguyên Đán</h4>
                                                <p>Tiết kiệm từ 20% trở lên ở một số nơi từ 25/1 đến 18/2</p>
                                                <a>Xem ưu đãi</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 padding-left-8 uu-dai-2">
                                    <div class="wrap-box">
                                        <div class="box-img">
                                            <img src="./assets/images/banh-chung.jpg" class="img-responsive" alt="Double Room" title="Double Room">
                                            <div class="text">
                                                <h4>Ưu đãi dịp lễ tết</h4>
                                                <p>Tiết kiệm từ 15% trở lên cho các kỳ lưu trú trên khắp thế giới đến hết 31/3</p>
                                                <a>Xem ưu đãi</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6" *ngFor="let item of boatType; let i = index" [ngClass]="i%2 === 0 ? 'padding-right-8' : 'padding-left-8'">
                                    <div class="wrap-box pointer" (click)="routerLink(item?.name, item?.id)">
                                        <div class="box-img">
                                            <img src="{{ item?.linkImage }}" class="img-responsive" alt="PLuxury Room" title="Luxury Room">
                                        </div>
                                        <div class="rooms-content">
                                            <h4 class="sky-h4">{{ item?.name }}</h4>
                                        </div>
                                        <div class="price-gia">
                                            <p>{{ item?.description}}</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /container -->
    </section>
    <!-- END / ROOMS -->

    <!--OUR-NEWS-->
    <section class="events">
        <div class="container">
            <h2 class="events-title">Tin Tức</h2>
            <div class="line"></div>
            <div id="events-v2" class="owl-carousel owl-theme owl-loaded owl-drag">

                <div class="owl-stage-outer">
                    <div class="owl-stage" style="transition: all 0.25s ease 0s">
                        <div class="owl-item active" style="width: 19%; margin-right: 10px;">
                            <div class="item">
                                <div class="events-item">
                                    <div class="events-img"><img src="./assets/images/Our-Events-3.jpg" class="img-responsive" alt="Image"></div>
                                    <div class="events-content">
                                        <a href="" title="">
                                            <p class="sky-p">Tin Tức 1</p>
                                            <h3 class="sky-h3"> Beach Sports</h3>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 19%; margin-right: 10px;">
                            <div class="item ">
                                <div class="events-item">
                                    <div class="events-img"><img src="./assets/images/Our-Events-1.jpg" class="img-responsive" alt="Image"></div>
                                    <div class="events-content">
                                        <a href="" title="">
                                            <p class="sky-p">Tin Tức 2</p>
                                            <h3 class="sky-h3">Wedding Day</h3>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 19%; margin-right: 10px;">
                            <div class="item">
                                <div class="events-item">
                                    <div class="events-img"><img src="./assets/images/Our-Events-2.jpg" class="img-responsive" alt="Image"></div>
                                    <div class="events-content">
                                        <a href="" title="">
                                            <p class="sky-p">Tin Tức 3</p>
                                            <h3 class="sky-h3">Golf Cup 2017</h3>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item active" style="width: 19%; margin-right: 10px;">
                            <div class="item">
                                <div class="events-item">
                                    <div class="events-img"><img src="./assets/images/Our-Events-3.jpg" class="img-responsive" alt="Image"></div>
                                    <div class="events-content">
                                        <a href="" title="">
                                            <p class="sky-p">Tin Tức 4</p>
                                            <h3 class="sky-h3"> Beach Sports</h3>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item active" style="width: 19%; margin-right: 10px;">
                            <div class="item">
                                <div class="events-item">
                                    <div class="events-img"><img src="./assets/images/Our-Events-3.jpg" class="img-responsive" alt="Image"></div>
                                    <div class="events-content">
                                        <a href="" title="">
                                            <p class="sky-p">Tin Tức 5</p>
                                            <h3 class="sky-h3"> Beach Sports</h3>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="view-more-news">
                    <span>Xem thêm</span>
                </div>
            </div>
        </div>
    </section>
    <!-- END / OUR EVENTS -->

</div>