<div cz-shortcut-listen="true">
    <section class="section-slider height-v" id="top">
        <div class="title">
            <div class="container">
                <h2>Tìm kiếm ưu đãi và khám phá nhiều trải nghiệm trên khắp thế giới</h2>
                <p>Từ những khu nghỉ dưỡng thanh bình đến những căn hộ hạng sang hiện đại</p>
            </div>
        </div>
        <div class="check-avail">
            <div class="container">
                <div class="arrival date-title ">
                    <label>Địa điểm </label>
                    <div>
                        <dx-select-box placeholder="Chọn địa điểm" [dataSource]="listLocation" [value]="location" [searchEnabled]="true" (onSelectionChanged)="selectLocation($event)">
                        </dx-select-box>
                    </div>
                </div>
                <div class="arrival date-title ">
                    <label>Loại du thuyền </label>
                    <div>
                        <dx-select-box placeholder="Chọn loại du thuyền" [dataSource]="listTypeBoat" [value]="typeBoat" [searchEnabled]="true" (onSelectionChanged)="selectTypeBoat($event)">
                        </dx-select-box>
                    </div>
                </div>
                <div class="departure date-title ">
                    <label>Từ ngày</label>
                    <div>
                        <dx-date-box class="from-date-box" [(value)]="fromDate" [(max)]="toDate" type="date" displayFormat="dd/MM/yyyy" valueChangeEvent="keyup">
                        </dx-date-box>
                    </div>
                </div>
                <div class="departure date-title ">
                    <label>Đến ngày</label>
                    <div>
                        <dx-date-box class="from-date-box" [(value)]="toDate" type="date" displayFormat="dd/MM/yyyy" valueChangeEvent="keyup">
                        </dx-date-box>
                    </div>
                </div>
                <div class="arrival date-title ">
                    <label>Mức giá </label>
                    <div>
                        <dx-select-box placeholder="Chọn mức giá" [dataSource]="commonService.listPrice" [value]="price" [searchEnabled]="true" (onSelectionChanged)="selectPrice($event)">
                        </dx-select-box>
                    </div>
                </div>
                <div class="find_btn date-title" (click)="searchListBoat()">
                    <div class="text-find">
                        Tìm
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- OUR-ROOMS-->
    <section class="rooms padding-top-0 padding-bottom-0">
        <div class="container">
            <div class="wrap-rooms">
                <div class="row">
                    <div id="rooms" class="owl-carousel owl-theme owl-loaded owl-drag">
                        <div class="owl-item">
                            <div class="item four-boat">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 padding-right-8 uu-dai-1" *ngFor="let item of listNews">
                                    <div class="wrap-box">
                                        <div class="box-img">
                                            <img src="./assets/images/tet-nguyen-dan.jpg" class="img-responsive" alt="PLuxury Room" title="Luxury Room">
                                            <div class="text">
                                                <h4>{{ item?.title }}</h4>
                                                <p>{{ item?.description }}</p>
                                                <a (click)="xemUuDai(item?.id, item?.category?.id)">Xem ngay!</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6" *ngFor="let item of boatType; let i = index" [ngClass]="i%2 === 0 ? 'padding-right-8' : 'padding-left-8'">
                                    <div class="wrap-box pointer" (click)="routerLink(item)">
                                        <div class="box-img">
                                            <img src="{{ item?.linkImage }}" class="img-responsive" alt="PLuxury Room" title="Luxury Room">
                                        </div>
                                        <div class="rooms-content">
                                            <h4 class="sky-h4">{{ item?.name }}</h4>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /container -->
    </section>
    <!-- END / ROOMS -->

    <!--OUR-NEWS-->
    <section class="events">
        <div class="container">
            <h2 class="events-title">Tour nổi bật</h2>
            <div class="line"></div>
            <div id="events-v2" class="owl-carousel owl-theme owl-loaded owl-drag">

                <div class="owl-stage-outer">
                    <div class="owl-stage" style="transition: all 0.25s ease 0s">
                        <div class="owl-item tour-hightlights" style="width: 19.2%; margin-right: 6px;" *ngFor="let item of listTourHighlights?.list">
                            <div class="item">
                                <div class="events-item">
                                    <div class="events-img"><img src="{{ item?.linkImage}}" (click)="detailsTourHighlights(item, item?.id)" class="img-responsive" alt="Image" style="width: 100%; height: 280px;"></div>
                                    <div class="events-content">
                                        <a href="" title="">
                                            <h4 class="sky-h3"> {{ item?.name }}</h4>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="view-more-news">
                    <span (click)="routerLinkDetail()">Xem thêm</span>
                </div>
            </div>
        </div>
    </section>
    <!-- END / OUR EVENTS -->

</div>