.header-sky.header-top-sky .header-top {
    margin-top: 0 !important;
}

.pointer {
    cursor: pointer;
}

.header-sky {
    background: #003580;
}

.navbar-collapse {
    border-top: 0.5px solid white;
}

.header-sky.header-top-sky .navbar .navbar-nav .dropdown-menu {
    background: #003580;
}

.nav {
    margin-left: -16px;
    li {
        padding: 20px 25px !important;
        margin-right: 5px;
        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }
    a {
        font-weight: 300 !important;
        font-size: 17px !important;
    }
}

.header-sky .navbar .navbar-nav li a {
    text-transform: unset;
}

.header-top-left {
    color: black !important;
    width: 125px;
    height: 42px;
    img {
        width: 100%;
        height: 100%;
        background-size: 100%;
    }
}

.header-sky .header-top ul li a {
    font-size: 13px !important;
}

.header-top-right img {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    background-color: #bdbdbd;
    border-radius: 50%;
    border: 2px solid #fff!important;
}

.header-top-right button {
    background-color: white;
    border: 1px solid #dadada;
    border-radius: 3px;
    margin: 5px;
    height: 30px;
    line-height: 0;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
}

.header-top-right .user-info {
    position: relative;
    border-top: unset !important;
    .dropdown {
        position: relative;
        &:hover {
            background: unset !important;
        }
        img {
            cursor: pointer;
            float: right;
            position: absolute;
            right: -10px;
        }
    }
    p {
        color: white;
        font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif !important;
    }
    li {
        padding: 10px !important;
        a {
            color: #07c;
            font-weight: 500 !important;
            font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif !important;
            text-transform: unset !important;
        }
    }
}

a {
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif !important;
}

.submenu-hover {
    min-width: 210px;
}

.container a {
    cursor: pointer;
}

.popup-wellcome {
    h4,
    p,
    span {
        text-align: center;
        font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif !important;
        color: black;
    }
    h4 {
        color: #07c;
        font-size: 28px;
    }
    span {
        color: #07c;
        font-weight: bold;
        &:hover {
            text-decoration: underline;
        }
    }
    span,
    p {
        font-size: 15px;
        padding: 5px;
    }
}