.header-sky.header-top-sky .header-top {
  margin-top: 0 !important;
}
.pointer {
  cursor: pointer;
}
.header-sky {
  background: #003580;
}
.navbar-collapse {
  border-top: 0.5px solid white;
}
.header-sky.header-top-sky .navbar .navbar-nav .dropdown-menu {
  background: #003580;
}
.nav {
  margin-left: -16px;
  li {
    padding: 25px 25px !important;
    margin-right: 5px;
    &:hover {
      background-color: rgba(255,255,255,0.1);
    }
  }
  a {
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif !important;
    font-weight: 300 !important;
    font-size: 17px !important;
  }

}
.header-sky .navbar .navbar-nav li a {
  text-transform: unset;
}
.header-top-left {
  color: black !important;
  background: white;
}
