<header class="header-sky header-top-sky">
<div class="container">
  <!--HEADER-TOP-->
  <div class="header-top">
    <div class="header-top-left">
      <span><i class="ion-android-cloud-outline"></i>18 °C</span>
      <span><i class="ion-ios-location-outline"></i> 121 King Str, Melbourne Victoria</span>
      <span><i class="fa fa-phone" aria-hidden="true"></i> 1-548-854-8898</span>
    </div>
    <div class="header-top-right">
      <ul>
        <li class="dropdown pointer"><a (click)="login()" title="Đăng nhập"
            class="dropdown-toggle">Đăng Nhập</a></li>
        <li class="dropdown pointer"><a (click)="register()" title="Đăng ký"
            class="dropdown-toggle">Đăng ký</a></li>
      </ul>
    </div>
  </div>
  <!-- END/HEADER-TOP -->
</div>
<!-- MENU-HEADER -->
<div class="menu-header">
  <nav class="navbar navbar-fixed-top">
    <div class="container">
      <div class="navbar-header ">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar "></span>
          <span class="icon-bar "></span>
          <span class="icon-bar "></span>
        </button>
        <a class="navbar-brand" href="file:///E:/Xampp/htdocs/skyline/index.html" title="Skyline"><img src="./assets/icon/sky-logo-header.png"
            alt="#"></a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown ">
            <a href="" title="Home" class="dropdown-toggle"
              data-toggle="dropdown">Home<b class="caret"></b></a>
            <ul class="dropdown-menu icon-fa-caret-up submenu-hover">
              <li><a href="" title="">Home 1</a></li>
              <li><a href="" title="">Home 2</a></li>
              <li><a href="" title="">Home 3</a></li>
              <li><a href="" title="">Home 4</a></li>
            </ul>
          </li>
          <li class="dropdown ">
            <a href="" title="Room &amp; Rate" class="dropdown-toggle"
              data-toggle="dropdown">Room &amp; Rate<b class="caret"></b></a>
            <ul class="dropdown-menu icon-fa-caret-up submenu-hover">
              <li><a href="" title="">Room 1</a></li>
              <li><a href="" title="">Room 2</a></li>
              <li><a href="" title="">Room 3</a></li>
              <li><a href="" title="">Room 4</a></li>
              <li><a href="" title="">Room 5</a></li>
              <li><a href="" title="">Room 6</a></li>
              <li><a href="" title="">Room Detail</a></li>
            </ul>
          </li>
          <li class="dropdown ">
            <a href="" title="  Page" class="dropdown-toggle"
              data-toggle="dropdown">Page<b class="caret"></b></a>
            <ul class="dropdown-menu icon-fa-caret-up submenu-hover">
              <li><a href="" title="">Guest Book</a></li>
              <li class="submenu-hover1">
                <a href="" class="dropdown-toggle"
                  data-toggle="dropdown">Events <b class="caret"></b></a>
                <ul class="dropdown-menu dropdown-margin">
                  <li><a href="">Events </a></li>
                  <li><a href="">Events Fullwidth</a></li>
                </ul>
              </li>
              <li><a href="" title="">Attractions</a></li>
              <li class="submenu-hover1">
                <a href="" class="dropdown-toggle"
                  data-toggle="dropdown">Blog <b class="caret"></b></a>
                <ul class="dropdown-menu dropdown-margin">
                  <li><a href="">Blog </a></li>
                  <li><a href="">Blog Detail</a></li>
                </ul>
              </li>
              <li class="submenu-hover1">
                <a href="" class="dropdown-toggle"
                  data-toggle="dropdown">Restaurant <b class="caret"></b></a>
                <ul class="dropdown-menu dropdown-margin">
                  <li><a href="">Restaurant 1</a></li>
                  <li><a href="">Restaurant 2</a></li>
                  <li><a href="">Restaurant 3</a></li>
                  <li><a href="">Restaurant 4</a></li>
                </ul>
              </li>
              <li class="submenu-hover1">
                <a href="" class="dropdown-toggle"
                  data-toggle="dropdown">Tems Condition <b class="caret"></b></a>
                <ul class="dropdown-menu dropdown-margin">
                  <li><a href="">Tems Condition
                      1</a></li>
                  <li><a href="">Tems Condition
                      2</a></li>
                </ul>
              </li>
              <li><a href="" title="">404 Page</a></li>
              <li><a href="" title="">Comming Soon</a></li>
              <li><a href="" title="">Check Out</a></li>
            </ul>
          </li>
          <li class="dropdown ">
            <a href="" title="Reservation" class="dropdown-toggle"
              data-toggle="dropdown">RESERVATION<b class="caret"></b></a>
            <ul class="dropdown-menu icon-fa-caret-up submenu-hover">
              <li><a href="" title="">Reservation
                  1</a></li>
              <li><a href="" title="">Reservation
                  2</a></li>
              <li><a href="" title="">Reservation
                  3</a></li>
              <li><a href="" title="">Reservation
                  4</a></li>
              <li><a href="" title="">Reservation
                  5</a></li>
            </ul>
          </li>
          <li class="dropdown ">
            <a href="" title="Gallery" class="dropdown-toggle"
              data-toggle="dropdown">Gallery <b class="caret"></b></a>
            <ul class="dropdown-menu icon-fa-caret-up submenu-hover">
              <li><a href="" title="">Gallery 1</a></li>
              <li><a href="" title="">Gallery 2</a></li>
              <li><a href="" title="">Gallery 3</a></li>
            </ul>
          </li>
          <li><a href="" title="About">About</a></li>
          <li><a href="" title="Contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<!-- END / MENU-HEADER -->
</header>
<section class="section-slider height-v">
  <div id="index12" class="owl-carousel  owl-theme owl-loaded owl-drag">


    <div class="owl-stage-outer">
      <div class="owl-stage" style="transform: translate3d(-5661px, 0px, 0px); transition: all 0.25s ease 0s; width: 11322px;">
        <div class="owl-item" style="width: 1887px;">
        </div>
        <div class="owl-item active" style="width: 1887px;">
        </div>
        <div class="owl-item cloned" style="width: 1887px;">
          <div class="item">
            <img alt="Third slide" src="./assets/images/Slider-v1.jpg" class="img-responsive">
            <div class="carousel-caption">
              <h1>Welcome to Skyline</h1>
              <p><span class="line-t"></span>Hotels &amp; Resorts <span class="line-b"></span></p>
            </div>
          </div>
        </div>
        <div class="owl-item cloned" style="width: 1887px;">
          <div class="item">
            <img alt="Third slide" src="./assets/images/Slider-v2.jpg" class="img-responsive">
            <div class="container">
              <div class="carousel-caption ">
                <h1 class="v2">Enjoy a Luxury Experience</h1>
                <p class="p-v2"><span class="line-t"></span>Hotels &amp; Resorts <span class="line-b"></span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="owl-nav">
      <div class="owl-prev">prev</div>
      <div class="owl-next">next</div>
    </div>
    <div class="owl-dots">
      <div class="owl-dot"><span></span></div>
      <div class="owl-dot active"><span></span></div>
    </div>
  </div>
  <div class="check-avail">
    <div class="container">
      <div class="arrival date-title ">
        <label>Arrival Date </label>
        <div id="datepicker" class="input-group date" data-date-format="dd-mm-yyyy">
          <input class="form-control" type="text">
          <span class="input-group-addon"><img src="./assets/icon/date-icon.png" alt="#"></span>
        </div>
      </div>
      <div class="departure date-title ">
        <label>Departure Date </label>
        <div id="datepickeri" class="input-group date" data-date-format="dd-mm-yyyy">
          <input class="form-control" type="text">
          <span class="input-group-addon"><img src="./assets/icon/date-icon.png" alt="#"></span>
        </div>
      </div>
      <div class="adults date-title ">
        <label>Adults</label>
        <form>
          <div class=" carousel-search">
            <div class="btn-group">
              <a class="btn dropdown-toggle " data-toggle="dropdown" href="">2</a>
              <ul class="dropdown-menu">
                <li><a>1</a></li>
                <li><a>2</a></li>
                <li><a>3</a></li>
                <li><a>4</a></li>
              </ul>
            </div>
          </div>
        </form>
      </div>
      <div class="children date-title ">
        <label>Children</label>
        <form>
          <div class=" carousel-search">
            <div class="btn-group">
              <a class="btn dropdown-toggle " data-toggle="dropdown" href="">2</a>
              <ul class="dropdown-menu">
                <li><a>1</a></li>
                <li><a>2</a></li>
                <li><a>3</a></li>
                <li><a>4</a></li>
              </ul>
            </div>
          </div>
        </form>
      </div>
      <div class="find_btn date-title">
        <div class="text-find">
          Check
          <br>Availability
        </div>
      </div>
    </div>
  </div>
</section>

<dx-popup class="popup" [width]="400" [height]="500" [showCloseButton]="true" [dragEnabled]="false" [closeOnOutsideClick]="true" [(visible)]="popupLogin">
  <div *dxTemplate="let data of 'content'">
    <app-login></app-login>
  </div>
</dx-popup>
