<div class="header-sky header-top-sky">
    <div class="container">
        <!--HEADER-TOP-->
        <div class="header-top">
            <div class="header-top-left">
                <img src="./assets/icon/logo3.png" alt="Yachttour" [routerLink]="'/trang-chu'" style="cursor: pointer;">
            </div>
            <div class="header-top-right col-sm-4">
                <div *ngIf="loginService.isLogin === false" style="display: flex; justify-content: flex-end">
                    <button type="button" (click)="login()" title="Đăng nhập">Đăng nhập</button>
                    <button type="button" (click)="register()" title="Đăng ký">Đăng ký</button>
                </div>
                <div *ngIf="loginService.isLogin === true" class="collapse navbar-collapse user-info row">
                    <div class="col-sm-6" style="width: 82%; margin-top: 12px; text-align: right">
                        <p>Xin chào {{ lastName }}</p>
                    </div>
                    <div class="col-sm-2">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a title="Admin">
                                    <img src="./assets/images/our-2.jpg" class="img-responsive" title="Admin">
                                </a>
                                <ul class="dropdown-menu icon-fa-caret-up submenu-hover" style="margin-top: 10px;">
                                    <li><a title="NC 14" (click)="openUserProfile()">Hồ sơ cá nhân</a></li>
                                    <li><a title="Đăng xuất" (click)="logout()">Đăng xuất</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- END/HEADER-TOP -->
    </div>
    <!-- MENU-HEADER -->
    <div class="menu-header">
        <nav class="navbar">
            <div class="container">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li *ngFor="let item of lsMenu" [ngClass]="{'dropdown':  item.menus?.length, '': !item.menus?.length }">
                            <a *ngIf="!item.menus?.length" title="{{ item.title }}" href="{{ item?.href }}">{{ item.title }}</a>
                            <a *ngIf="item.menus?.length" title="item.title" class="dropdown-toggle" data-toggle="dropdown">{{ item.title }}<b class="caret"></b></a>

                            <ul class="dropdown-menu icon-fa-caret-up submenu-hover" *ngIf="item.menus?.length">
                                <li *ngFor="let item2 of item.menus"><a title="{{ item2.title }}" href="{{ item2?.href }}">{{ item2.title }}</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!-- END / MENU-HEADER -->
</div>

<dx-popup class="popup" [width]="'30%'" [height]="'80%'" [showTitle]="true" [title]="'Yachttour.vn'" [showCloseButton]="true" [dragEnabled]="false" [closeOnOutsideClick]="true" [(visible)]="loginService.popupLogin">
    <div *dxTemplate="let data of 'content'">
        <app-login></app-login>
    </div>
</dx-popup>

<dx-popup class="popup" [width]="'50%'" [height]="'90%'" [showTitle]="true" [title]="'Yachttour.vn'" [showCloseButton]="true" [dragEnabled]="false" [closeOnOutsideClick]="true" [(visible)]="loginService.popupRegister">
    <div *dxTemplate="let data of 'content'">
        <app-register></app-register>
    </div>
</dx-popup>

<dx-popup [width]="'50%'" [height]="'50%'" [showTitle]="true" [title]="'Yachttour.vn'" [showCloseButton]="true" [dragEnabled]="false" [closeOnOutsideClick]="true" [(visible)]="loginService.popupWellcome">
    <div *dxTemplate="let data of 'content'">
        <div class="popup-wellcome">
            <h4>Chào mừng bạn đến với Yachttour.vn</h4>
            <p>Hệ thống du thuyền cá nhân Yachttour!</p>
            <p>Nơi mở ra không gian và thời gian dành riêng cho bạn</p>
            <p>Hãy bắt đầu trải nghiệm những thú vị <span (click)="routerLinkMain()" style="cursor: pointer"> tại đây</span></p>
        </div>
    </div>
</dx-popup>