.login100-form-btn {
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif !important;
}

.active-account {
    h4 {
        text-align: center;
        color: #07c;
    }
    border: 1px solid #07c;
    background: #dff6e1;
    .button-click {
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
    }
    .fa-check {
        color: green;
        background: white;
        border-radius: 50%;
        margin-right: 5px;
        width: 25px;
        height: 25px;
        line-height: 1.4;
    }
}