.width-20-percent {
    width: 20% !important;
}

.width-25-percent {
    width: 25% !important;
}

.section-slider .check-avail .container .find_btn {
    .text-find {
        padding-top: 30px;
    }
    background: #005999;
}

.section-slider .check-avail .date-title {
    margin-right: 0px;
}

.from-date-box {
    height: 34px;
}

.padding-left-0 {
    padding-left: 0 !important;
}

.padding-right-0 {
    padding-right: 0 !important;
}

.rooms {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.boat-details-description {
    text-align: left;
    h2,
    p {
        font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif !important;
    }
}

.container /deep/ {
    .wrap-box {
        background: #f2f2f2;
    }
    .section {
        height: auto !important;
        .booking-menu-left {
            width: 100%;
            border-radius: 2px;
            margin-bottom: 20px;
            min-height: 40px;
            position: relative;
            font-size: 17px;
            border: 1px solid #cce1ff;
            .details-information {
                h4 {
                    background: #e9f0fa;
                    border-bottom: 1px solid #cce1ff;
                    text-align: left;
                    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif !important;
                    margin: 0;
                    padding: 10px;
                    font-size: 15px;
                }
                p {
                    text-align: left;
                    color: black !important;
                    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif !important;
                    padding-left: 12px;
                    margin: 10px 0 10px;
                    font-weight: 500;
                }
                .value {
                    color: #07c;
                    text-decoration: underline;
                    font-weight: 500;
                }
            }
            .eye-fa-style {
                width: 16px;
                height: 16px;
                margin: 15px 10px;
            }
            .text-bpg_logo {
                padding: 10px 5px;
            }
            .text-drive {
                text-align: left;
                color: #000;
                font-weight: bold;
                margin: 5px;
            }
            .booking-bus {
                height: 50px;
                background-color: #fff;
                .bus-fa-style {
                    margin: 15px 10px;
                    width: 16px;
                    height: 16px;
                }
                .name-transport {
                    font-weight: bold;
                    padding: 10px;
                }
                .transport-time {
                    margin: 10px;
                    background: #a7c7f5;
                    padding: 2px 5px;
                }
            }
            .btn-hostel {
                margin: 10px 0;
                width: 90%;
                background-color: #a7c7f5;
                color: blue;
                padding: 5px 40px;
                border-radius: 5px;
                font-weight: bold;
                border: 3px solid blue;
            }
            .btn-hostel:hover {
                background-color: #fff;
            }
        }
        .comment-customer {
            .title-cmt {
                text-align: left;
                font-weight: bold;
            }
            span {
                text-align: left;
                display: block;
                margin: 5px;
                font-size: 17px;
            }
            .text-customer-like {
                text-align: left;
                padding-bottom: 10px;
                border-bottom: 0.5px solid #dadada;
                margin-bottom: 20px;
                .info-customer {
                    margin: 0 10px;
                    position: relative;
                    .avata-customer {
                        width: 60px;
                        height: 60px;
                        background: green;
                        border-radius: 30px;
                        position: absolute;
                        top: 0;
                        left: 5px;
                    }
                    .customer-content {
                        display: inline-block;
                        margin-left: 80px;
                        .name-customer {
                            font-weight: bold;
                        }
                        .country-customer {
                            .country-icon {
                                width: 18px;
                                height: 18px;
                                display: inline-block;
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.text-des-details {
    text-align: left;
    display: inline-block;
    margin-top: 10px;
    .text-left {
        color: black !important;
        width: 60%;
        float: left;
        margin-left: 20px;
        h4 {
            color: #b75f00;
        }
        p {
            color: black !important;
            font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif !important;
        }
    }
    .text-right {
        background: #e9f0fa;
        border: 1px solid #cce1ff;
        border-radius: 3px;
        margin-left: 520px;
        text-align: left;
        p {
            color: black !important;
            font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif !important;
            margin: 0 10px;
            &:nth-child(1) {
                margin-top: 15px;
                font-size: 18px;
            }
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
                margin-left: 35px;
            }
            &:nth-child(5),
            &:nth-child(6) {
                text-align: center;
                background: green;
                padding: 4px 8px;
                color: white !important;
                margin-top: 20px;
            }
            &:nth-child(6) {
                background: #07c;
                margin-bottom: 20px;
            }
        }
    }
}

.background-green {
    border: 1px solid #96d99d;
    background-color: #f5fbf6;
    text-align: left;
    margin-top: 10px;
    h4,
    p {
        padding: 10px 20px !important;
        font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif !important;
    }
}

.list-image {
    width: 100%;
    display: inline-block;
    margin-top: 10px;
    a {
        width: 61.5px;
        height: 61.5px;
        float: left;
        border: 1px solid white;
        cursor: pointer;
        &:nth-child(1) {
            background-size: 100% !important;
        }
    }
}

.roomstable {
    min-width: 100%;
    border-spacing: 0;
    border: 0;
    border-bottom: 1px solid #5bbaff;
}

table.roomstable>thead>tr>th {
    background-color: #4c76b2;
    padding: 6px 8px;
    margin: 0;
    color: #fff;
    font-weight: bold;
}

td,
th {
    padding: 0;
    border: 0;
    text-align: left;
    vertical-align: middle;
    font-weight: normal;
    border-bottom: 1px solid #5bbaff;
    border-left: 1px solid #5bbaff;
    padding: 6px;
}

a:link {
    color: #07c;
    font-weight: bold;
    text-decoration: underline;
}

span.person {
    text-align: center !important;
}

td.occ_no_dates {
    text-align: center;
}

td.rt_show_dates {
    text-align: center !important;
}

.b-button {
    color: #fff!important;
    font-size: 13px!important;
    line-height: 1.5;
    font-weight: bold;
    position: relative;
    display: inline;
    zoom: 1;
    vertical-align: middle;
    padding: 5px 10px;
    margin: 0;
    background-color: #07c;
    border: 2px solid #fff;
    border-radius: 3px;
    line-height: 1.5;
    font-weight: bold;
    text-decoration: none;
    color: #07c;
    cursor: pointer;
    -webkit-box-shadow: 0 0 3px #aaa;
    box-shadow: 0 0 3px #aaa;
}

.hp-section-header.hp-section-header--with-badge {
    padding-bottom: 0;
    margin-top: -2px;
}

.hp-section-header,
.hp-section-header h2 {
    font-weight: normal;
    font-size: 21px;
    padding: 0 0 10px 0;
    margin: 0;
}

.hp-section-header--with-badge {
    display: table;
    min-width: 100%;
}

.hp-section-header.hp-section-header--with-badge {
    padding-bottom: 0;
    margin-top: -2px;
}

.hp-section-header,
.hp-section-header h2 {
    font-weight: normal;
    font-size: 21px;
    padding: 0 0 10px 0;
    margin: 0;
}

.hp-section-header--with-badge {
    display: table;
    min-width: 100%;
}

.hp-section-3-col {
    width: 33%;
    float: left;
}

.hp-section-row {
    margin: 0 0 5px 0;
    clear: both;
}

.hp-input-label {
    font-weight: bold;
}

.hp-input-label {
    font-weight: bold;
}

.hotel .hp-availability-section .c2-wrapper {
    background: transparent;
    min-width: 100%;
}

.c2-wrapper {
    background: #fff;
    display: block;
    width: 100%;
    border-radius: 2px;
}

.c2-wrapper {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    position: relative;
    height: auto;
    width: auto;
    padding: 0;
    margin: 0;
    border: 0;
    overflow: visible;
}

.hp-date-input {
    background: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    width: 80%;
    padding: 9px;
    display: inline-block;
    cursor: pointer;
}

.sb-group__field {
    display: table;
    margin: 0 0 16px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

.sb-searchbox__label.-small {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    display: table-cell;
    width: 100%;
}

.hp-section__highlighted {
    border-top: 1px solid #e2aa11;
    background: #ffd257;
    border-bottom: 1px solid #e2aa11;
}

.hp-availability-section .hp-section {
    overflow: visible;
}

#blockdisplay1.hp-consistent-vertical-rhythm #availability_target {
    margin-top: 0;
    padding-bottom: 10px;
}

.hp-availability-section .sb-group__field-rooms {
    display: inline-block;
}

.hp-availability-section .sb-group__field {
    display: inline-block;
    margin-right: 25px;
    width: auto;
}

.hp-section-header--with-badge h2#availability_target {
    display: inherit;
}

h2.hp-dates-summary__header {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
}

.hp-section-header,
.hp-section-header h2 {
    font-weight: normal;
    font-size: 21px;
    padding: 0 0 10px 0;
    margin: 0;
}

.hp-section-header h2 {
    clear: both;
    color: #383838;
    background: 0;
    display: inline;
}

.bpg_hp_no_availability {
    position: relative;
    background: 0;
    text-align: left;
    padding: 0 0 0 21px;
    font-size: 12px;
    min-height: 16px;
}

div#rate_guarantee {
    text-align: right;
    padding: 1em;
}

#availability_target {
    margin-top: 0;
    padding-bottom: 20px;
}

.rooms .wrap-rooms .wrap-box .box-img {
    height: 250px;
}

.book-boat {
    label {
        float: left;
        margin-left: 15px;
        margin-top: 10px;
    }
}

.form-input-information {
    background: #e9f0fa;
    text-align: left;
    border: 1px solid #cce1ff;
    h5 {
        margin-left: 12px;
    }
    p {
        color: black !important;
        font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif !important;
        padding-left: 12px;
        margin: 10px 0 10px;
        border-bottom: 1px solid #cce1ff;
    }
    .input-field {
        margin-left: 0px;
        margin-bottom: 5px;
        input {
            height: 34px;
            border: 1px solid #4c76b2;
            border-radius: 3px;
            width: 100%;
            color: #07c;
            font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif !important;
            padding-left: 10px;
            font-weight: 500;
        }
        span {
            font-weight: bold;
        }
    }
}

h4 {
    text-align: left;
}

.p-b-b-none {
    p {
        border-bottom: unset;
    }
    textarea {
        margin-left: 12px;
        border: 1px solid #4c76b2;
        border-radius: 2px;
    }
}

.next-book-boat {
    p {
        background: #07c;
        color: white;
        font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif !important;
        text-align: right;
        padding: 6px 10px;
        font-weight: bold;
        display: inline-block;
        font-size: 16px;
        border-radius: 4px;
        cursor: pointer;
    }
}

.special {
    font-weight: bold;
    color: #07c;
    text-decoration: underline;
}

.box-img {
    display: inline-block;
    width: 100%;
    padding: 25px;
    border: 1px solid #4c76b2;
    .img-right {
        float: left;
        width: 30%;
        img {
            height: 200px !important;
            width: 200px !important;
            border: 1px solid #c6c6c6;
            border-radius: 4px;
        }
    }
    .text-content {
        text-align: left;
        color: #07c;
        margin-top: -20px;
        margin-left: 220px;
        .special {
            background: #f07c00;
            border-radius: 4px;
            padding: 5px 8px;
            color: white;
        }
        .tien-ich {
            background: #e9f0fa;
            border-radius: 4px;
            padding: 5px 8px;
            color: black;
        }
        .sub-text {
            color: blue;
            &:hover {
                text-decoration: underline;
            }
        }
        p {
            font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
            color: black !important;
        }
    }
}

.note-information {
    display: inline-block;
    font-size: 16px;
    .border-radius-50 {
        border-radius: 50%;
        color: white;
        border: 1px solid #07c;
    }
    .background-color-blue {
        background-color: blue;
    }
    .background-color-gray {
        background-color: gray;
    }
    .color-gray {
        color: gray;
    }
    span {
        margin-right: 5px;
    }
    span i {
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }
    div {
        display: inline-block;
        margin-right: 5px;
    }
    .underline-left {
        width: 330px;
        border-top: 2px solid #dadada;
        height: 2px;
        font-size: 4px;
    }
}