<div cz-shortcut-listen="true book-du-thuyen" style="margin-bottom: 20px;">
    <section class="rooms">
        <div class="container">

            <div class="wrap-rooms">
                <div class="description">
                    <div class="note-information">
                        <span><i class="fas fa-check border-radius-50 background-color-blue"></i>Chọn tour</span>
                        <div class="underline-left"><span></span></div>
                        <span><i class="fas fa-check border-radius-50 background-color-blue"></i>Nhập thông tin</span>
                        <div class="underline-left"><span></span></div>
                        <span><i class="fas border-radius-50 background-color-blue">3</i>Thanh toán</span>
                    </div>
                </div>
                <div class="row">
                    <div id="rooms" class="owl-carousel owl-theme owl-loaded owl-drag">
                        <div class="owl-stage-outer">

                            <div class="owl-stage">
                                <div class="owl-item">
                                    <div class="item ">
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6" style="width: 30%">
                                            <div class="wrap-box">
                                                <div class="section">
                                                    <div class="booking-menu-left">
                                                        <div class="details-information">
                                                            <h4>Chi tiết đặt phòng của bạn</h4>
                                                            <p>
                                                                <span>Thông tin tour : </span>
                                                                <span class="value">{{ tourInfo?.name }}</span>
                                                            </p>
                                                            <p>
                                                                <span>Nhận du thuyền : </span>
                                                                <span class="value">{{ tourInfo?.startHour }}h {{ dateBook }}</span>
                                                            </p>
                                                            <p>
                                                                <span>Trả du thuyền : </span>
                                                                <span class="value">{{ tourInfo?.startHour + tourInfo?.duration }}h {{ dateBook }}</span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="booking-menu-left">
                                                        <div class="details-information">
                                                            <h4>Đặt tour bao gồm : </h4>
                                                            <p style="font-weight: 700; color: green !important" *ngFor="let item of accessoryInfo">{{ item?.name }} : <span style="color:#07c; text-decoration: underline">{{ item?.price | thousandNumberFormatter}} VND</span></p>
                                                        </div>
                                                    </div>
                                                    <!-- <div class="booking-menu-left">
                                                      <div class="details-information">
                                                          <h4>Các dịch vụ đi kèm:</h4>
                                                          <div style="font-size: 15px; text-align: left"><input type="checkbox" style="margin: 10px">Tắm mát</div>
                                                          <div style="font-size: 15px; text-align: left"><input type="checkbox" style="margin: 10px">Xông hơi</div>
                                                          <div style="font-size: 15px; text-align: left"><input type="checkbox" style="margin: 10px">Điều hòa</div>
                                                          <div style="font-size: 15px; text-align: left"><input type="checkbox" style="margin: 10px">Máy lạnh</div>
                                                      </div>
                                                  </div> -->
                                                    <div class="booking-menu-left">
                                                        <div class="details-information">
                                                            <h4>Tóm tắt giá</h4>
                                                            <p class="row">
                                                                <span class="col-sm-4" style="padding-left: 0;line-height: 2.3">Du thuyền : </span>
                                                                <span class="value col-sm-7" style="font-size: 18px; text-align: right">{{ price | thousandNumberFormatter }} VND</span>
                                                            </p>
                                                            <p class="row">
                                                                <span class="col-sm-4" style="padding-left: 0;line-height: 2.3">Dịch vụ : </span>
                                                                <span class="value col-sm-7" style="font-size: 18px; text-align: right">{{ totalPriceAccessory | thousandNumberFormatter }} VND</span>
                                                            </p>
                                                            <p class="row">
                                                                <span class="col-sm-4" style="padding-left: 0;line-height: 2.3">Tổng cộng : </span>
                                                                <span class="value col-sm-7" style="font-size: 18px; text-align: right">{{ (price  + totalPriceAccessory) | thousandNumberFormatter }} VND</span>
                                                            </p>
                                                            <!-- <p>10% Thuế</p>
                                                          <p>Giá</p>
                                                          <p>Phụ phí</p>
                                                          <p>Thuế thành phố</p> -->
                                                        </div>

                                                    </div>
                                                    <!-- <div class="booking-menu-left">
                                                      <div class="details-information">
                                                          <h4>Lịch thanh toán của bạn</h4>
                                                          <p style="color: #0ab21b !important">Không cần thanh toán hôm nay. Bạn sẽ trả khi đến nghỉ.</p>
                                                      </div>
                                                  </div>
                                                  <div class="booking-menu-left">
                                                      <div class="details-information">
                                                          <h4>Chi phí hủy là bao nhiêu?</h4>
                                                          <p style="color: #0ab21b !important">MIỄN PHÍ hủy đến 23:59 ngày ngày 20 Tháng 2</p>
                                                          <p>Từ 00:00 ngày ngày 21 Tháng 2 VND 200.000</p>
                                                      </div>
                                                  </div> -->
                                                    <!-- <div class="booking-menu-left">
                                                      <div class="details-information">
                                                          <p style="color: #07c !important">Bạn có mã khuyến mãi không?</p>
                                                      </div>
                                                  </div> -->
                                                    <div class="booking-menu-left" style="border: 1px solid #ffa9a9; background: #fbe8e8">
                                                        <div class="details-information">
                                                            <p>Số lượng du thuyền có giới hạn</p>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 padding-right-0" style="width: 68%">
                                            <div class="wrap-box ">
                                                <div class="box-img">
                                                    <div class="img-right"><img src="{{ boatInfo?.linkImage }}" class="img-responsive" alt="Double Room" title="Double Room"></div>
                                                    <div class="text-content">
                                                        <h2>{{ boatInfo?.name }}</h2>
                                                        <p>{{ boatInfo?.province?.name }}</p>
                                                    </div>
                                                </div>
                                                <h4 style="padding-top: 10px">Nhập địa chỉ của bạn</h4>
                                                <div class="form-input-information">
                                                    <h5 style="font-weight: bold">Vui lòng điền thông tin bằng Tiếng Việt hoặc Tiếng Anh</h5>
                                                    <div class="row input-field">
                                                        <div class="col-sm-6">
                                                            <span>Địa chỉ *</span>
                                                            <input type="text" [(ngModel)]="userInfo.address">
                                                        </div>
                                                    </div>
                                                    <div class="row input-field">
                                                        <div class="col-sm-4">
                                                            <span>Điện thoại/mobile (ĐTDĐ) *</span>
                                                            <input type="text" [(ngModel)]="userInfo.phoneNumber">
                                                        </div>
                                                    </div>
                                                    <div class="row input-field">
                                                        <div class="col-sm-4">
                                                            <span>CMTND/passport *</span>
                                                            <input type="text" [(ngModel)]="userInfo.passport">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <h4>Hoàn tất đặt phòng của bạn</h4>
                                          <div class="form-input-information">

                                              <div class="row input-field">
                                                  <div class="col-sm-3">
                                                      <span>Loại thẻ</span>
                                                      <input type="text">
                                                  </div>
                                              </div>
                                              <div class="row input-field">
                                                  <div class="col-sm-4">
                                                      <span>Số thẻ</span>
                                                      <input type="text">
                                                  </div>
                                              </div>
                                              <div class="row input-field">
                                                  <div class="col-sm-4">
                                                      <span>Ngày hết hạn</span>
                                                      <input type="text">/ <input type="text">
                                                  </div>
                                              </div>
                                          </div> -->
                                            <div class="background-green" style="background: unset !important; border: unset">
                                                <p>Bằng việc hoàn tất đặt tour này, bạn đồng ý với <span class="special">điều kiện đặt tour</span> , <span class="special">các điều khoản chung</span> và <span class="special">chính sách an toàn và bảo mật.</span></p>
                                            </div>
                                            <div class="next-book-boat">
                                                <p style="margin-right: 15px; color: #07c;background: white; border: 1px solid #07c">Kiểm tra lại tour</p>
                                                <p (click)="bookSuccess()">Hoàn tất đặt tour</p>

                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /container -->
    </section>
    <!-- END / ROOMS -->

    <dx-popup class="popup" [width]="600" [height]="400" [showTitle]="true" [title]="'Yachttour.vn thông báo'" [showCloseButton]="false" [dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="popupBookSuccess">
        <div *dxTemplate="let data of 'content'">
            <app-book-success (closePopup)="closePopup()"></app-book-success>
        </div>
    </dx-popup>
</div>
