/deep/.user-info {
    a,
    h4,
    p {
        font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif !important;
    }
    a {
        font-weight: 500;
        font-size: 16px;
    }
    .label-info-customer {
        width: 20%;
        float: left;
    }
    .input-info-customer {
        width: 80%;
        float: right;
    }
    .form-group {
        margin-bottom: 20px;
        height: 30px;
    }
    .form-control {
        margin-bottom: 15px;
    }
    .info-the {
        border: 1px solid #96d99d;
        background-color: #e4f7e7;
        padding: 25px 15px;
        margin-top: 30px;
        p {
            padding: 5px;
            color: #07c;
            font-size: 16px;
            font-weight: bold;
        }
    }
    .list-group {
        margin-top: 12px;
    }
    a,
    button {
        cursor: pointer;
    }
    .history-tour {
        .notice {
            border: 1px solid #96d99d;
            background-color: #e4f7e7;
            padding: 20px 10px;
            p {
                color: #07c;
                font-weight: 500;
            }
        }
        .content-history {
            .no-tour {
                text-align: center;
                border: 1px solid #dadada;
                padding: 20px;
                .router {
                    font-weight: bold;
                    color: #07c;
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
            .have-tour {
              border: 1px #07c;
              .tour-content {
                border: 1px solid #07c;
                margin-bottom: 20px;
                background: #e9f0fa;
                .tour-reservation-info {
                  border-right: #07c;
                  p {
                    margin-left: 10px;
                    margin-right: 10px;
                    color: black;
                    font-weight: 600;
                  }
                }
                .user-book-tour-info {
                  border-right: #07c;
                  p {
                    margin-left: 10px;
                    color: black;
                    font-weight: 600;
                    margin-right: 10px;
                  }
                }
                .status {
                  p {
                    margin-left: 10px;
                    margin-right: 10px;
                  }
                  .confirm {
                    color: green;
                    background: #e4f7e7;
                    border: 1px solid green;
                    padding: 10px;
                    margin-top: 70px;
                    font-weight: bold;
                    text-align: center;
                  }
                  .pending {
                    color: red;
                    background: #f3dbe0;
                    border: 1px solid red;
                    padding: 10px 20px;
                    margin-top: 70px;
                    font-weight: bold;
                    text-align: center;
                  }
                }
                .pagination {
                  margin-top: -10px;
                }
              }
              h4 {
                margin-top: 0px;
                color: white;
                background: #07c;
                padding: 8px;
                text-align: center;
                border-right: 1px solid white;
              }
            }
        }
    }
}

.form-change-password, .form-forgot-password, .form-reset-password {
    span,
    input,
    button,
    a,p {
        font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif !important;
    }
}
