<div class="user-info" style="margin: 30px 0">
    <div class="container">
        <div class="row" style="margin-right: 0px; margin-left: 0px">
            <div class="col-md-3 ">
                <div class="list-group ">
                    <a href="#" class="list-group-item list-group-item-action active">Hồ sơ của bạn</a>
                    <a href="#" class="list-group-item list-group-item-action">Đặt du thuyền</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Tài khoản Yachttour.vn của bạn</h4>
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <form>
                                    <div class="label-info-customer">
                                        <div class="form-group row">
                                            <label for="username" class="col-4 col-form-label">Tên đăng nhập</label>
                                        </div>
                                        <div class="form-group row">
                                            <label for="password" class="col-4 col-form-label">Mật khẩu mới</label>
                                        </div>
                                        <div class="form-group row">
                                            <label for="lastname" class="col-4 col-form-label">Họ và tên đệm</label>
                                        </div>
                                        <div class="form-group row">
                                            <label for="name" class="col-4 col-form-label">Tên Khách Hàng</label>
                                        </div>
                                        <div class="form-group row">
                                            <label for="email" class="col-4 col-form-label">Email</label>
                                        </div>
                                        <div class="form-group row">
                                            <label for="website" class="col-4 col-form-label">Số điện thoại</label>
                                        </div>
                                        <div class="form-group row">
                                            <label for="publicinfo" class="col-4 col-form-label">Tên và địa chỉ công ty</label>
                                        </div>
                                    </div>

                                    <div class="input-info-customer">
                                        <input id="username" name="username" placeholder="Tên đăng nhập" class="form-control here" type="text">
                                        <input id="password" name="password" placeholder="Mật khẩu mới" class="form-control here" type="text">
                                        <input id="lastname" name="lastname" placeholder="Họ và tên đệm" class="form-control here" type="text">
                                        <input id="name" name="name" placeholder="Tên Khách Hàng" class="form-control here" type="text">
                                        <input id="email" name="email" placeholder="Email" class="form-control here" required="required" type="text">
                                        <input id="website" name="website" placeholder="Số điện thoại" class="form-control here" type="text">
                                        <textarea id="publicinfo" name="publicinfo" cols="40" rows="2" class="form-control"></textarea>
                                        <button name="submit" type="submit" class="btn btn-primary">Cập nhật thông tin</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>