<div>
    <!-- TẠO MẬT KHẨU MỚI( QUÊN MẬT KHẨU) -->
    <dx-popup [width]="'30%'" [height]="'90%'" [showTitle]="true" [title]="'Yachttour'" [showCloseButton]="false" [dragEnabled]="false" [closeOnOutsideClick]="false" [(visible)]="popupResetPassword">
        <div *dxTemplate="let data of 'content'">
            <div class="form-reset-password">
                <div class="limiter">
                    <div class="container-login100">
                        <form class="login100-form validate-form">
                            <span class="login100-form-title p-b-20">
                        Tạo mật khẩu mới
                      </span>
                            <p style="text-align: center;color: #07c;font-size: 16px;font-weight: bolder;text-decoration: underline;">Vui lòng kiểm tra email của bạn và nhập key để tạo mật khẩu mới</p>
                            <div class="wrap-input100 validate-input m-b-23" data-validate="Password is required">
                                <span class="label-input100">Mật khẩu mới</span>
                                <input class="input100" type="password" name="pass" placeholder="Mật khẩu mới" [(ngModel)]="resetPasswordInfo.newPassword">
                                <span class="focus-input100" data-symbol="&#xf190;"></span>
                            </div>
                            <div class="wrap-input100 validate-input m-b-40" data-validate="Password is required">
                                <span class="label-input100">Xác nhận mật khẩu</span>
                                <input class="input100" type="password" name="pass" placeholder="Xác nhận mật khẩu" [(ngModel)]="resetPasswordInfo.confirmNewPassword">
                                <span class="focus-input100" data-symbol="&#xf190;"></span>
                            </div>
                            <div class="container-login100-form-btn">
                                <div class="wrap-login100-form-btn">
                                    <div class="login100-form-bgbtn"></div>
                                    <button class="login100-form-btn" style="background: #07c" (click)="confirmResetPassword()">Tiếp tục</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </dx-popup>
</div>
