<div cz-shortcut-listen="true tin-moi">
    <section class="section-slider height-v" id="top">
        <div class="title">
            <div class="container">
                <h2>Tìm kiếm những trải nghiệm thú vị với du thuyền</h2>
                <p>Từ những giây phút ngọt ngày đến những kỷ niệm khó quên</p>
            </div>
        </div>
        <div class="check-avail">
            <div class="container">
                <div class="arrival date-title ">
                    <label>Địa điểm </label>
                    <div>
                        <dx-select-box placeholder="Chọn địa điểm" [dataSource]="listLocation" [value]="location" [searchEnabled]="true" (onSelectionChanged)="selectLocation($event)">
                        </dx-select-box>
                    </div>
                </div>
                <div class="arrival date-title ">
                    <label>Loại du thuyền </label>
                    <div>
                        <dx-select-box placeholder="Chọn loại du thuyền" [dataSource]="listTypeBoat" [value]="typeBoat" [searchEnabled]="true" (onSelectionChanged)="selectTypeBoat($event)">
                        </dx-select-box>
                    </div>
                </div>
                <div class="departure date-title ">
                    <label>Từ ngày</label>
                    <div>
                        <dx-date-box class="from-date-box" [(value)]="fromDate" [(max)]="toDate" type="date" displayFormat="dd/MM/yyyy" valueChangeEvent="keyup">
                        </dx-date-box>
                    </div>
                </div>
                <div class="departure date-title ">
                    <label>Đến ngày</label>
                    <div>
                        <dx-date-box class="from-date-box" [(value)]="toDate" type="date" displayFormat="dd/MM/yyyy" valueChangeEvent="keyup">
                        </dx-date-box>
                    </div>
                </div>
                <div class="arrival date-title ">
                    <label>Mức giá </label>
                    <div>
                        <dx-select-box placeholder="Chọn mức giá" [dataSource]="commonService.listPrice" [value]="price" [searchEnabled]="true" (onSelectionChanged)="selectPrice($event)">
                        </dx-select-box>
                    </div>
                </div>
                <div class="find_btn date-title" (click)="searchListBoat()">
                    <div class="text-find">
                        Tìm
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- OUR-ROOMS-->
    <section class="rooms padding-top-0 padding-bottom-0">
        <div class="container">
            <div class="wrap-rooms">
                <div class="row">
                    <div id="rooms" class="owl-carousel owl-theme owl-loaded owl-drag">
                        <div class="owl-item">
                            <div class="item four-boat">
                                <div class="col-xs-4 tin-moi-new" *ngFor="let item of listNews">
                                    <div class="wrap-box">
                                        <div class="box-img-tin-moi">
                                            <img src="{{ item?.linkImage }}" class="img-responsive" style="width: 100%; height: 220px; background-size: 100%">
                                            <div class="text">
                                                <h4>{{ item?.title }}</h4>
                                                <p>{{ item?.description }}</p>
                                                <p class="button-xem" (click)="viewDetailNews(item?.id)">Xem</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /container -->
    </section>
    <!-- END / ROOMS -->

</div>