<!--FOOTER-->
<footer class="footer-sky">
    <div class="footer-top">
        <div class="container">
            <div class="footer-header">
                <div class="footer-title">
                    <h2>Hệ thống du thuyền cá nhân Yachttour!</h2>
                    <p>Nơi mở ra KHÔNG GIAN VÀ THỜI GIAN dành riêng cho bạn</p>
                </div>
                <div class="textbox">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="email"  [(ngModel)]="email" class="form-control" placeholder="Địa chỉ email của bạn" aria-label="Search for...">
                            <button class="btn btn-secondary" type="button" (click)="registerEmailNotification()">
                Đăng ký
              </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /container -->
    </div>
    <!-- /footer-top -->
    <div class="footer-mid">
        <div class="container">
            <div class="row padding-footer-mid">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <div class="footer-logo text-center list-content">
                        <img src="./assets/icon/logo1.png" alt="Yachttour" [routerLink]="'/trang-chu'" style="cursor: pointer;">
                    </div>
                    <div class="footer-logo text-center list-content address">
                        <div>
                            <span>Địa chỉ công ty: 38/128 phố Ngọc Trì - Thạch Bàn - Long Biên - TP. Hà Nội</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 col-lg-offset-1 col-md-offset-1  ">
                    <div class="list-content">
                        <h4>Hỗ trợ khách hàng</h4>
                        <ul>
                            <li><a title="" href="tel:0762898968">Hotline: 0762.89.89.68</a></li>
                            <li><a title="">Các câu hỏi thường gặp</a></li>
                            <li><a title="">Hướng dẫn đặt du thuyền</a></li>
                            <li><a title="">Thanh toán</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 col-lg-offset-1 col-md-offset-1 ">
                    <div class="list-content ">
                        <h4>Về Yachttour</h4>
                        <ul>
                            <li><a title="Giới thiệu" href="/noi-dung/gioi-thieu">Giới thiệu</a></li>
                            <li><a title="Liên hệ" href="/noi-dung/lien-he">Liên hệ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 col-lg-offset-1 col-md-offset-1">
                    <div class="list-content ">
                        <!-- <h4>Chi nhánh</h4> -->
                        <!-- <ul>
                          <li><a title="">33 Lý Quốc Sư, Hàng Bông, Hoàn Kiếm, HN</a></li>
                          <li><a title="">02 Chùa Bộc, Trung Tự, Đống Đa, HN</a></li>
                          <li><a title="">12 Láng Hạ, Thành Công, Ba Đình, HN</a></li>
                          <li><a title="">02 Chùa Bộc, Trung Tự, Đống Đa, HN</a></li>
                          <li><a title="">12 Láng Hạ, Thành Công, Ba Đình, HN</a></li>
                      </ul> -->
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 no-padding">
                    <span style="color: #07c">Copyright © 2017 by </span><a title="">Yachttour.</a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 no-padding">
                    <div class="payments text-right">
                        <ul>
                            <li *ngFor="let item of lsPartnerLogo">
                                <a title="{{ item.name }}"><img src="{{ imageUrlAPI }}{{ item.image.reference }}" alt="{{ item.name }}"></a>
                            </li>
                            <!-- <li>
                                <a title="Prestige"><img src="./assets/icon/prestige-logo.png" alt="Prestige"></a>
                            </li>
                            <li>
                                <a title="Ferretti"><img src="./assets/icon/ferretti_logo.jpg" alt="Ferretti"></a>
                            </li>
                            <li>
                                <a title="Fountaine"><img src="./assets/icon/fountaine_logo.png" alt="Fountaine"></a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- END / FOOTER-->
<!--SCOLL TOP-->
<!-- <a href="#top" title="sroll" class="scrollToTop" style="display: inline;"><i
class="fa fa-angle-up"></i></a> -->

<!-- Load Facebook SDK for JavaScript -->