.footer-header {
    .footer-title {
        font-weight: 300;
        h2,
        p {
            text-align: center;
            font-weight: inherit;
            color: white;
            font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif !important;
        }
    }
}

.footer-sky .footer-top {
    background: #001b42;
}

.footer-sky .footer-mid {
    background: white;
}

.footer-sky .footer-bottom {
    border-top: 1px solid #07c;
}

.input-group {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    .form-control {
        width: 35%;
        height: 48px;
        border-radius: 4px !important;
    }
    button {
        color: white;
        background: #07c;
        height: 48px;
        width: 10%;
        margin-left: 10px;
    }
}

.list-content {
    h4 {
        color: #07c;
        font-weight: 100 !important;
    }
}

.padding-footer-mid {
    .address {
        margin-top: 40px;
        span {
            color: #07c;
        }
    }
}

.footer-sky .footer-mid .padding-footer-mid .list-content ul li a {
    color: #07c;
    &:hover {
        text-decoration: underline;
    }
}

.footer-logo {
    width: 150px;
    height: 50px;
    img {
        width: 100%;
        height: 100%;
        background-size: 100%;
    }
}