<!-- ABOUT-US-->
<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
        <div class="about-centent">
          <h2 class="about-title">About Us</h2>
          <div class="line"></div>
          <p class="about-p">Contrary to popular belief, Lorem isn’t simply random text. It has roots in a of
            classical Latin literature from 45 BC, making it over 2000 years old. Avalon’s leading hotels with
            gracious island hospitality, thoughtful amenities and distinctive</p>
          <p class="about-p1">Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up
            one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage ...</p>
          <a href="" class="read-more">READ MORE </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7 ">
        <div class="about-img">
          <div class="img-1">
            <img src="./assets/images/about-3.jpg" class="img-responsive" alt="Image">
            <div class="img-2">
              <img src="./assets/images/about-1.jpg" class="img-responsive" alt="Image">
            </div>
            <div class="img-3">
              <img src="./assets/images/about-2.jpg" class="img-responsive" alt="Image">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END/ ABOUT-US-->
<!-- BEST -->
<section class="best">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
        <div class="wrap-best">
          <div class="icon-best">
            <img src="./assets/icon/about-icon-1.png" class="img-responsive" alt="Image">
          </div>
          <h6 class="sky-h6">Master Bedrooms</h6>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
        <div class="wrap-best">
          <div class="icon-best">
            <img src="./assets/icon/about-icon-2.png" class="img-responsive" alt="Image">
          </div>
          <h6 class="sky-h6">Sea View Balcony</h6>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
        <div class="wrap-best">
          <div class="icon-best">
            <img src="./assets/icon/about-icon-3.png" class="img-responsive" alt="Image">
          </div>
          <h6 class="sky-h6">Pool &amp; Spa</h6>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
        <div class="wrap-best">
          <div class="icon-best">
            <img src="./assets/icon/about-icon-4.png" class="img-responsive" alt="Image">
          </div>
          <h6 class="sky-h6">Wifi Coverage</h6>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
        <div class="wrap-best">
          <div class="icon-best">
            <img src="./assets/icon/about-icon-5.png" class="img-responsive" alt="Image">
          </div>
          <h6 class="sky-h6">AwESOME pACKAGES</h6>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
        <div class="wrap-best">
          <div class="icon-best">
            <img src="./assets/icon/about-icon-6.png" class="img-responsive" alt="Image">
          </div>
          <h6 class="sky-h6">cLEANING eVERDAY</h6>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
        <div class="wrap-best">
          <div class="icon-best">
            <img src="./assets/icon/about-icon-7.png" class="img-responsive" alt="Image">
          </div>
          <h6 class="sky-h6">bUTFFET Breakfast</h6>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
        <div class="wrap-best">
          <div class="icon-best">
            <img src="./assets/icon/about-icon-8.png" class="img-responsive" alt="Image">
          </div>
          <h6 class="sky-h6">Airport Taxi</h6>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END / BEST -->
<!-- TESTIMONOALS -->
<section class="testimonials">
  <div class="testimonials-h">
    <div class="testimonials-content">
      <div class="container">
        <div id="testimonials" class="owl-carousel owl-theme owl-loaded owl-drag">
          <div class="owl-stage-outer">
            <div class="owl-stage" style="transform: translate3d(-2400px, 0px, 0px); transition: all 0s ease 0s; width: 8400px;">
              <div class="owl-item cloned" style="width: 1170px; margin-right: 30px;">
                <!-- CLONED -->
              </div>
              <div class="owl-item active" style="width: 1170px; margin-right: 30px;">
                <!-- CLONED -->
              </div>
              <div class="owl-item" style="width: 1170px; margin-right: 30px;">
                <div class="item">
                  <div class="img-testimonials"><img src="./assets/icon/about-testimonials-img.png" alt="#"></div>
                  <p class="testimonials-p"><span>“</span>​‌ This is the only place to stay in Catalina! I have stayed
                    in the cheaper hotels and they were fine, but this is just the icing onthe cake! After spending
                    the day bike riding and hiking to come back and enjoy a glass of wine while looking out your
                    <span>​‌​‌”</span> ocean view window and then to top it all off...</p>
                  <h5 class="sky-h5">JULIA ROSE</h5>
                  <p class="testimonials-p1">From Los Angeles, California</p>
                </div>
              </div>
            </div>
          </div>
          <div class="owl-nav">
            <div class="owl-prev">prev</div>
            <div class="owl-next">next</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END / TESTIMONOALS -->
<!--OUR-EVENTS-->
<section class="events">
  <div class="container">
    <h2 class="events-title">Our Events</h2>
    <div class="line"></div>
    <div id="events-v2" class="owl-carousel owl-theme owl-loaded owl-drag">



      <div class="owl-stage-outer">
        <div class="owl-stage" style="transform: translate3d(-1200px, 0px, 0px); transition: all 0.25s ease 0s; width: 3600px;">
          <div class="owl-item cloned" style="width: 370px; margin-right: 30px;">
            <div class="item ">
              <div class="events-item">
                <div class="events-img"><img src="./assets/images/Our-Events-1.jpg" class="img-responsive" alt="Image"></div>
                <div class="events-content">
                  <a href="" title="">
                    <p class="sky-p">EVENTS</p>
                    <h3 class="sky-h3">Wedding Day</h3>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="owl-item cloned" style="width: 370px; margin-right: 30px;">
            <div class="item">
              <div class="events-item">
                <div class="events-img"><img src="./assets/images/Our-Events-2.jpg" class="img-responsive" alt="Image"></div>
                <div class="events-content">
                  <a href="" title="">
                    <p class="sky-p">EVENTS</p>
                    <h3 class="sky-h3">Golf Cup 2017</h3>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="owl-item cloned" style="width: 370px; margin-right: 30px;">
            <div class="item">
              <div class="events-item">
                <div class="events-img"><img src="./assets/images/Our-Events-3.jpg" class="img-responsive" alt="Image"></div>
                <div class="events-content">
                  <a href="" title="">
                    <p class="sky-p">EVENTS</p>
                    <h3 class="sky-h3"> Beach Sports</h3>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="owl-item active" style="width: 370px; margin-right: 30px;">
            <div class="item ">
              <div class="events-item">
                <div class="events-img"><img src="./assets/images/Our-Events-1.jpg" class="img-responsive" alt="Image"></div>
                <div class="events-content">
                  <a href="" title="">
                    <p class="sky-p">EVENTS</p>
                    <h3 class="sky-h3">Wedding Day</h3>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="owl-item active" style="width: 370px; margin-right: 30px;">
            <div class="item">
              <div class="events-item">
                <div class="events-img"><img src="./assets/images/Our-Events-2.jpg" class="img-responsive" alt="Image"></div>
                <div class="events-content">
                  <a href="" title="">
                    <p class="sky-p">EVENTS</p>
                    <h3 class="sky-h3">Golf Cup 2017</h3>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="owl-item active" style="width: 370px; margin-right: 30px;">
            <div class="item">
              <div class="events-item">
                <div class="events-img"><img src="./assets/images/Our-Events-3.jpg" class="img-responsive" alt="Image"></div>
                <div class="events-content">
                  <a href="" title="">
                    <p class="sky-p">EVENTS</p>
                    <h3 class="sky-h3"> Beach Sports</h3>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="owl-item cloned" style="width: 370px; margin-right: 30px;">
            <div class="item ">
              <div class="events-item">
                <div class="events-img"><img src="./assets/images/Our-Events-1.jpg" class="img-responsive" alt="Image"></div>
                <div class="events-content">
                  <a href="" title="">
                    <p class="sky-p">EVENTS</p>
                    <h3 class="sky-h3">Wedding Day</h3>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="owl-item cloned" style="width: 370px; margin-right: 30px;">
            <div class="item">
              <div class="events-item">
                <div class="events-img"><img src="./assets/images/Our-Events-2.jpg" class="img-responsive" alt="Image"></div>
                <div class="events-content">
                  <a href="" title="">
                    <p class="sky-p">EVENTS</p>
                    <h3 class="sky-h3">Golf Cup 2017</h3>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="owl-item cloned" style="width: 370px; margin-right: 30px;">
            <div class="item">
              <div class="events-item">
                <div class="events-img"><img src="./assets/images/Our-Events-3.jpg" class="img-responsive" alt="Image"></div>
                <div class="events-content">
                  <a href="" title="">
                    <p class="sky-p">EVENTS</p>
                    <h3 class="sky-h3"> Beach Sports</h3>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="owl-nav disabled">
        <div class="owl-prev">prev</div>
        <div class="owl-next">next</div>
      </div>
      <div class="owl-dots disabled">
        <div class="owl-dot active"><span></span></div>
      </div>
    </div>
  </div>
</section>
<!-- END / OUR EVENTS -->
<!--OUR-NEWS-->
<section class="news">
  <div class="container">
    <h2 class="new-title">News</h2>
    <div class="line"></div>
    <div class="row">
      <div class="news-content">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="substance">
            <div class="date">
              <div class="day">25</div>
              <div class="year"> AUGUST
                <br>2017</div>
            </div>
            <div class="text">
              <a href="">Update menu food in Skyline Hotel</a>
            </div>
            <a href="" class="read-more">Read More</a>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="substance">
            <div class="date">
              <div class="day">22</div>
              <div class="year"> AUGUST
                <br>2017</div>
            </div>
            <div class="text">
              <a href="">Las Maquinas on Tragamonedas</a>
            </div>
            <a href="" class="read-more">Read More </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="substance">
            <div class="date">
              <div class="day">06</div>
              <div class="year"> AUGUST
                <br>2017</div>
            </div>
            <div class="text">
              <a href="">Mother Earth Hosts Our Travels</a>
            </div>
            <a href="" class="read-more">Read More </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END / OUR NEWS -->
<!-- OUR-GALLERY-->
<section class="gallery-our">
  <div class="container-fluid">
    <div class="gallery">
      <h2 class="title-gallery">Our Gallery</h2>
      <div class="outline"></div>
      <ul class="nav nav-tabs text-uppercase">
        <li class="active"><a data-toggle="tab" href="">Hotel
            &amp; Ground</a></li>
        <li><a data-toggle="tab" href="">Room/Suite
          </a></li>
        <li><a data-toggle="tab" href="">Bathroom</a></li>
        <li><a data-toggle="tab" href="">Dining</a></li>
      </ul>
      <br>
      <div class="tab-content">
        <div id="Hotel" class="tab-pane fade in active">
          <div class="product ">
            <div class="row">
              <div class="gallery_product col-lg-3 col-md-3 col-sm-6 col-xs-6 ">
                <div class="wrap-box">
                  <div class="box-img">
                    <img src="./assets/images/gallery-1.jpg" class="img-responsive" alt="Product" title="images products">
                  </div>
                  <div class="gallery-box-main " title="">
                    <div class="gallery-icon">
                      <a class="lightbox " href=""
                        data-littlelightbox-group="gallery" title="Luxury Room view all"><i class="ion-ios-plus-empty"
                          aria-hidden="true"></i> </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="gallery_product col-lg-3 col-md-3 col-sm-6 col-xs-6 ">
                <div class="wrap-box">
                  <div class="box-img">
                    <img src="./assets/images/gallery-2.jpg" class="img-responsive" alt="Product" title="images products">
                  </div>
                  <div class="gallery-box-main">
                    <div class="gallery-icon">
                      <a class="lightbox " href=""
                        data-littlelightbox-group="gallery" title="HIHI"><i class="ion-ios-plus-empty" aria-hidden="true"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="gallery_product col-lg-3 col-md-3 col-sm-6 col-xs-6 ">
                <div class="wrap-box">
                  <div class="box-img">
                    <img src="./assets/images/gallery-3.jpg" class="img-responsive" alt="Product" title="images products">
                  </div>
                  <div class="gallery-box-main">
                    <div class="gallery-icon">
                      <a class="lightbox " href=""
                        data-littlelightbox-group="gallery" title="Flying is life"><i class="ion-ios-plus-empty"
                          aria-hidden="true"></i> </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="gallery_product col-lg-3 col-md-3 col-sm-6 col-xs-6 ">
                <div class="wrap-box">
                  <div class="box-img">
                    <img src="./assets/images/gallery-4.jpg" class="img-responsive" alt="Product" title="images products">
                  </div>
                  <div class="gallery-box-main">
                    <div class="gallery-icon">
                      <a class="lightbox " href=""
                        data-littlelightbox-group="gallery" title="Flying is life"><i class="ion-ios-plus-empty"
                          aria-hidden="true"></i> </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="gallery_product col-lg-3 col-md-3 col-sm-6 col-xs-6 ">
                <div class="wrap-box">
                  <div class="box-img">
                    <img src="./assets/images/gallery-5.jpg" class="img-responsive" alt="Product" title="images products">
                  </div>
                  <div class="gallery-box-main">
                    <div class="gallery-icon">
                      <a class="lightbox " href=""
                        data-littlelightbox-group="gallery" title="Flying is life"><i class="ion-ios-plus-empty"
                          aria-hidden="true"></i> </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="gallery_product col-lg-3 col-md-3 col-sm-6 col-xs-6 ">
                <div class="wrap-box">
                  <div class="box-img">
                    <img src="./assets/images/gallery-6.jpg" class="img-responsive" alt="Product" title="images products">
                  </div>
                  <div class="gallery-box-main">
                    <div class="gallery-icon">
                      <a class="lightbox " href=""
                        data-littlelightbox-group="gallery" title="Flying is life"><i class="ion-ios-plus-empty"
                          aria-hidden="true"></i> </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="gallery_product col-lg-3 col-md-3 col-sm-6 col-xs-6 ">
                <div class="wrap-box">
                  <div class="box-img">
                    <img src="./assets/images/gallery-7.jpg" class="img-responsive" alt="Product" title="images products">
                  </div>
                  <div class="gallery-box-main">
                    <div class="gallery-icon">
                      <a class="lightbox " href=""
                        data-littlelightbox-group="gallery" title="Flying is life"><i class="ion-ios-plus-empty"
                          aria-hidden="true"></i> </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="gallery_product col-lg-3 col-md-3 col-sm-6 col-xs-6 ">
                <div class="wrap-box">
                  <div class="box-img">
                    <img src="./assets/images/gallery-8.jpg" class="img-responsive" alt="Product" title="images products">
                  </div>
                  <div class="gallery-box-main">
                    <div class="gallery-icon">
                      <a class="lightbox " href=""
                        data-littlelightbox-group="gallery" title="Flying is life"><i class="ion-ios-plus-empty"
                          aria-hidden="true"></i> </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="menu1" class="tab-pane fade">
          <div class="product ">
            <div class="row">
              <div class="gallery_product col-lg-3 col-md-3 col-sm-4 col-xs-6 ">
                <div class="wrap-box">
                  <div class="box-img">
                    <img src="./assets/images/gallery-6.jpg" class="img-responsive" alt="Product" title="images products">
                  </div>
                  <div class="gallery-box-main">
                    <div class="gallery-icon">
                      <a class="lightbox " href=""
                        data-littlelightbox-group="gallery" title="Flying is life"><i class="ion-ios-plus-empty"
                          aria-hidden="true"></i> </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="gallery_product col-lg-3 col-md-3 col-sm-4 col-xs-6 ">
                <div class="wrap-box">
                  <div class="box-img">
                    <img src="./assets/images/gallery-7.jpg" class="img-responsive" alt="Product" title="images products">
                  </div>
                  <div class="gallery-box-main">
                    <div class="gallery-icon">
                      <a class="lightbox " href=""
                        data-littlelightbox-group="gallery" title="Flying is life"><i class="ion-ios-plus-empty"
                          aria-hidden="true"></i> </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="gallery_product col-lg-3 col-md-3 col-sm-4 col-xs-6 ">
                <div class="wrap-box">
                  <div class="box-img">
                    <img src="./assets/images/gallery-8.jpg" class="img-responsive" alt="Product" title="images products">
                  </div>
                  <div class="gallery-box-main">
                    <div class="gallery-icon">
                      <a class="lightbox " href=""
                        data-littlelightbox-group="gallery" title="Flying is life"><i class="ion-ios-plus-empty"
                          aria-hidden="true"></i> </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="menu2" class="tab-pane fade">
          <div class="product ">
            <div class="row">
              <div class="gallery_product col-lg-3 col-md-3 col-sm-4 col-xs-6 ">
                <div class="wrap-box">
                  <div class="box-img">
                    <img src="./assets/images/gallery-7.jpg" class="img-responsive" alt="Product" title="images products">
                  </div>
                  <div class="gallery-box-main">
                    <div class="gallery-icon">
                      <a class="lightbox " href=""
                        data-littlelightbox-group="gallery" title="Flying is life"><i class="ion-ios-plus-empty"
                          aria-hidden="true"></i> </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="gallery_product col-lg-3 col-md-3 col-sm-4 col-xs-6 ">
                <div class="wrap-box">
                  <div class="box-img">
                    <img src="./assets/images/gallery-8.jpg" class="img-responsive" alt="Product" title="images products">
                  </div>
                  <div class="gallery-box-main">
                    <div class="gallery-icon">
                      <a class="lightbox " href=""
                        data-littlelightbox-group="gallery" title="Flying is life"><i class="ion-ios-plus-empty"
                          aria-hidden="true"></i> </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="menu3" class="tab-pane fade">
          <div class="product ">
            <div class="row">
              <div class="gallery_product col-lg-3 col-md-3 col-sm-4 col-xs-6 ">
                <div class="wrap-box">
                  <div class="box-img">
                    <img src="./assets/images/gallery-3.jpg" class="img-responsive" alt="Product" title="images products">
                  </div>
                  <div class="gallery-box-main">
                    <div class="gallery-icon">
                      <a class="lightbox " href=""
                        data-littlelightbox-group="gallery" title="Flying is life"><i class="ion-ios-plus-empty"
                          aria-hidden="true"></i> </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="gallery_product col-lg-3 col-md-3 col-sm-4 col-xs-6 ">
                <div class="wrap-box">
                  <div class="box-img">
                    <img src="./assets/images/gallery-4.jpg" class="img-responsive" alt="Product" title="images products">
                  </div>
                  <div class="gallery-box-main">
                    <div class="gallery-icon">
                      <a class="lightbox " href=""
                        data-littlelightbox-group="gallery" title="Flying is life"><i class="ion-ios-plus-empty"
                          aria-hidden="true"></i> </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="gallery_product col-lg-3 col-md-3 col-sm-4 col-xs-6 ">
                <div class="wrap-box">
                  <div class="box-img">
                    <img src="./assets/images/gallery-5.jpg" class="img-responsive" alt="Product" title="images products">
                  </div>
                  <div class="gallery-box-main">
                    <div class="gallery-icon">
                      <a class="lightbox " href=""
                        data-littlelightbox-group="gallery" title="Flying is life"><i class="ion-ios-plus-empty"
                          aria-hidden="true"></i> </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="gallery_product col-lg-3 col-md-3 col-sm-4 col-xs-6 ">
                <div class="wrap-box">
                  <div class="box-img">
                    <img src="./assets/images/gallery-6.jpg" class="img-responsive" alt="Product" title="images products">
                  </div>
                  <div class="gallery-box-main">
                    <div class="gallery-icon">
                      <a class="lightbox " href=""
                        data-littlelightbox-group="gallery" title="Flying is life"><i class="ion-ios-plus-empty"
                          aria-hidden="true"></i> </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="gallery_product col-lg-3 col-md-3 col-sm-4 col-xs-6 ">
                <div class="wrap-box">
                  <div class="box-img">
                    <img src="./assets/images/gallery-7.jpg" class="img-responsive" alt="Product" title="images products">
                  </div>
                  <div class="gallery-box-main">
                    <div class="gallery-icon">
                      <a class="lightbox " href=""
                        data-littlelightbox-group="gallery" title="Flying is life"><i class="ion-ios-plus-empty"
                          aria-hidden="true"></i> </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="gallery_product col-lg-3 col-md-3 col-sm-4 col-xs-6 ">
                <div class="wrap-box">
                  <div class="box-img">
                    <img src="./assets/images/gallery-8.jpg" class="img-responsive" alt="Product" title="images products">
                  </div>
                  <div class="gallery-box-main">
                    <div class="gallery-icon">
                      <a class="lightbox " href=""
                        data-littlelightbox-group="gallery" title="Flying is life"><i class="ion-ios-plus-empty"
                          aria-hidden="true"></i> </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end-tab-content -->
      <div class="text-center">
        <button type="button" class="btn btn-default btn-our">VIEW MORE</button>
      </div>
    </div>
    <!-- /gallery -->
  </div>
  <!-- /container -->
</section>
<!-- END / OUR GALLERY -->
<!--FOOTER-->
<footer class="footer-sky">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
          <div class="icon-email">
            <a href="" title="Email"><img src="./assets/icon/footer-top-icon-l.png"
                alt="Email" class="img-responsive"></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-5">
          <div class="textbox">
            <form class="form-inline">
              <div class="form-group">
                <div class="input-group">
                  <input type="email" class="form-control" placeholder="Your email address" aria-label="Search for...">
                  <button class="btn btn-secondary" type="button">
                    <i class="ion-android-send"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-6 text-right">
          <div class="footer-icon-l">
            <a href="" title="Twitter"><i class="fa fa-twitter"
                aria-hidden="true"></i></a>
            <a href="" title="Facebook"><i class="fa fa-facebook-square"
                aria-hidden="true"></i></a>
            <a href="" title="Tripadvisor"><i class="fa fa-tripadvisor"
                aria-hidden="true"></i></a>
            <a href="" title="Isnstagram"><i class="fa fa-instagram"
                aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
    <!-- /container -->
  </div>
  <!-- /footer-top -->
  <div class="footer-mid">
    <div class="container">
      <div class="row padding-footer-mid">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <div class="footer-logo text-center list-content">
            <a href="" title="Skyline"><img src="./assets/icon/sky-logo-footer.png"
                alt="Image"></a>
          </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 col-lg-offset-1 col-md-offset-1  ">
          <div class="list-content">
            <ul>
              <li><a href="" title="">Site Map</a></li>
              <li><a href="" title="">Term &amp;
                  Conditions</a></li>
              <li><a href="" title="">Privacy Policy</a></li>
              <li><a href="" title="">Help</a></li>
              <li><a href="" title="">Affiliate</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 col-lg-offset-1 col-md-offset-1 ">
          <div class="list-content ">
            <ul>
              <li><a href="" title="">Our Location</a></li>
              <li><a href="" title="">Career</a></li>
              <li><a href="" title="">About Us</a></li>
              <li><a href="" title="">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 col-lg-offset-1 col-md-offset-1">
          <div class="list-content ">
            <ul>
              <li><a href="" title="">FAQS</a></li>
              <li><a href="" title="">News</a></li>
              <li><a href="" title="">Photo &amp; Video</a></li>
              <li><a href="" title="">Restaurant</a></li>
              <li><a href="" title="">Gift Card</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 no-padding">
          Copyright © 2017 by <a href="" title="">EngoTheme.</a>
          SkyLine Hotel Theme crafted with love
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 no-padding">
          <div class="payments text-right">
            <ul>
              <li>
                <a href="" title="Paypal"><img src="./assets/icon/Paypal.png"
                    alt="Paypal"></a>
              </li>
              <li>
                <a href="" title="Visa"><img src="./assets/icon/Visa.png"
                    alt="Visa"></a>
              </li>
              <li>
                <a href="" title="Master"><img src="./assets/icon/Master-card.png"
                    alt="Master"></a>
              </li>
              <li>
                <a href="" title="Discover"><img src="./assets/icon/Discover.png"
                    alt="Discover"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- END / FOOTER-->
<!--SCOLL TOP-->
<a href="" title="sroll" class="scrollToTop" style="display: inline;"><i
    class="fa fa-angle-up"></i></a>
