.xem-tin {
    h4,
    p,
    span {
        font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif !important;
        color: black;
    }
    .section {
        height: 500px;
    }
    .rooms {
        text-align: left !important;
        .wrap-rooms .wrap-box .box-img {
            height: 240px;
        }
    }
    .content-news {
        padding-left: 20px;
    }
}

.xem-tin .news-content {
    h4 {
        text-align: left !important;
        color: #07c !important;
    }
}