<div cz-shortcut-listen="true xem-tin">
    <!-- OUR-ROOMS-->
    <section class="rooms padding-top-0 padding-bottom-0">
        <div class="container">
            <div class="wrap-rooms">
                <div class="row">
                    <div id="rooms" class="owl-carousel owl-theme owl-loaded owl-drag">
                        <div class="owl-stage-outer">
                            <div class="owl-stage">
                                <div class="owl-item">
                                    <div class="item ">
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 padding-right-0 padding-left-0 news-content" style="width: 100% !important">
                                            <div>
                                                <h4 style="color: #07c; font-size: 21px; background: #dff6e1 !important; padding: 15px; border: 1px solid #dadada">{{ newDetails?.title }}</h4>
                                            </div>

                                            <div class="box-img" style="border: 1px solid #dadada">
                                                <img src="{{ newDetails?.linkImage }}" class="img-responsive" style="width: 100%; height: 100%;cursor: pointer">
                                            </div>

                                            <div class="content-news" style="background: #eaf0f9; border: 1px solid #dadada; margin-top: 20px; margin-bottom: 20px" [innerHTML]="newDetails?.content"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /container -->
    </section>
    <!-- END / ROOMS -->

    <!--END / SROLL TOP-->
    <!-- LOAD JQUERY -->

    <div class="awe-popup-overlay" id="awe-popup-overlay"></div>
    <div class="awe-popup-wrap" id="awe-popup-wrap">
        <div class="awe-popup-content"></div>
        <span class="awe-popup-close" id="awe-popup-close"></span>
    </div>
</div>
