.xem-tin {
    .section {
        height: 500px;
    }
    .rooms {
      text-align: unset;
      .wrap-rooms .wrap-box .box-img {
        height: 240px;
      }
    }
}

.xem-tin .news-content {
    h4 {
        text-align: left !important;
        color: #07c !important;
    }
}
