<div cz-shortcut-listen="" class="book-success">
    <div>
        <div class="form-notice-information">
            <h4 class="row">
                <span><i class="fa fa-check" aria-hidden="true"></i>Đặt du thuyền của bạn được xác nhận!</span></h4>
            <p style="text-align: center">Cảm ơn bạn đã lựa chọn Yachttour. Vui lòng kiểm tra thông tin đặt du thuyền trong <span [routerLink]="'/user-profile'">hồ sơ cá nhân</span></p>
            <div class="row" style="display: flex;justify-content: center; margin-top: 20px">
                <button (click)="routerTour()">Xem thêm các tour khác</button>
                <button (click)="routerMain()">Hoàn tất đặt tour</button>
            </div>
        </div>
    </div>
</div>
