<div cz-shortcut-listen="">
    <section class="rooms">
        <h4 style="color: #0ab21b !important">Đặt du thuyền của bạn đã được xác nhận</h4>
        <div style="border: 1px solid #dadada">

            <div class="form-notice-information">
                <h5>Chúng tôi đã gửi email xác nhận dành cho bạn tới email của bạn</h5>
                <p>Lấy phòng tốt hơn chỉ với VND 14.250</p>
                <p>Giờ đây, bạn có thể chỉnh sửa hoặc hủy đặt phòng cho đến khi nhận phòng.</p>
                <p>Thanh toán của bạn sẽ được xử lý bởi HomeKey . Mục "Giá" dưới đây sẽ cung cấp thêm chi tiết cho bạn</p>
            </div>
        </div>

        <!-- /container -->
    </section>
    <!-- END / ROOMS -->

</div>