.show-image {
    height: 100%;
    display: flex;
    justify-content: center;
    .image {
        float: left;
        position: relative;
        display: flex;
        justify-content: center;
        background: black;
    }
    .comment {
        width: 20%;
        background: #e9f0fa;
        border: 1px solid #07c;
        height: 100%;
        margin-left: 15px;
    }
    .owl-nav-custom {
        i {
            color: white;
            font-size: 50px;
        }
        .owl-prev {
            position: absolute;
            top: 80%;
            left: 50px;
            cursor: pointer;
        }
        .owl-next {
            position: absolute;
            top: 80%;
            right: 66px;
            cursor: pointer;
        }
    }
    .list-image {
        width: 100%;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        a {
            width: 100px;
            height: 100px;
            float: left;
            border: 1px solid white;
            cursor: pointer;
            background-size: 100% !important;
        }
    }
    .text {
        font-size: 14px;
        color: white;
        text-align: center;
        display: flex;
        justify-content: center;
        position: absolute;
        background: black;
        padding: 6px 10px;
        border-radius: 10px;
        top: 90%;
        right: 50%;
    }
    .title {
        font-size: 18px;
        color: white;
        text-align: center;
        display: flex;
        justify-content: center;
        height: 45px;
        span {
            line-height: 2.5;
        }
    }
}