<div class="show-image row">
    <div class="image">
        <img src="{{ linkImage }}" class="img-responsive col-sm-4" alt="Double Room" title="{{ name }}" style="width: auto">
        <div class="owl-nav-custom ">
            <div class="owl-prev " (click)="prevImage() "><i class="fa fa-angle-left " aria-hidden="true "></i></div>
            <div class="owl-next " (click)="nextImage() "><i class="fa fa-angle-right " aria-hidden="true "></i></div>
            <div class="text">{{ countImage + 1}}/{{ listImages?.length }}</div>
        </div>
    </div>
</div>