<div class="form-verify-email">
    <div class="limiter">
        <div class="container-login100">
            <h2>Đăng ký thành công!</h2>
            <span>Hãy xác thực tài khoản để trải nghiệm những thú vị từ Yachttour</span>
            <form class="login100-form validate-form">
                <div class="container-login100-form-btn row">
                    <div class="wrap-login100-form-btn" style="width: 50%;">
                        <button class="login100-form-btn" style="background: #07c" (click)="verifyEmail()">Xác thực ngay</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
